%line_left {
	&::before {
		content: "";
		display: block;
		width: 45%;
		height: 1px;
		position: absolute;
		top: 20px;
		left: 15px;
		background: $grey;
		z-index: -1;
	}
}

%line_right {
	&::after {
		content: "";
		display: block;
		width: 45%;
		height: 1px;
		background: $grey;
		position: absolute;
		top: 20px;
		right: 15px;
		z-index: -1;
	}
}