@font-face {
    font-family: 'MavenPro-Regular';
    src: url('../fonts/MavenPro-Regular.eot');
    src: url('../fonts/MavenPro-Regular.woff2') format('woff2'),
         url('../fonts/MavenPro-Regular.woff') format('woff'),
         url('../fonts/MavenPro-Regular.ttf') format('truetype'),
         url('../fonts/MavenPro-Regular.svg#MavenPro-Regular') format('svg'),
         url('../fonts/MavenPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
         url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
     font-family: 'Lato-Bold';
     src: url('../fonts/Lato-Bold.eot');
     src: url('../fonts/Lato-Bold.woff2') format('woff2'),
          url('../fonts/Lato-Bold.woff') format('woff'),
          url('../fonts/Lato-Bold.ttf') format('truetype'),
          url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg'),
          url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
   
   
  