//COLORS
$white: #ffffff;
$black: #000000;
$black_1: #323232;
$black_2: #222222;

$green_1: #2eb398; // background
$green_light: #d7fcf5;// title biography
$green: #20816d;//subtile biography

$grey: #e4e9eb; // line after
$grey_1: #454545; //form back
$grey_2: #b5b5b5; // form text
$grey_3: #e0e0e0; // form legeng

$fb: #3560a0;
$twitter: #2ca9e1;
$gPlus: #dc5443; 
$pinterest: #ca2026;
$in: #096c9b;
$dribbble: #e7598f;

$rootFont: 10px;
$mainFont: 'MavenPro-Regular';
$max-width: 785px;
//FONTS
$maven: 'MavenPro-Regular';
$lato: 'Lato-Regular';
$latoBold: 'Lato-Bold';

$mobile-portrait: 320px;
$tablet-portrait: 767px;
$mobile-landscape: 480px;