.nav {
   &_item {
       line-height: 95px;
       margin: 0 15px;
       position: relative;

       &::after {
            @include font();
            @include position(absolute, 35px, auto, -15px);

            content: ".";
            color: rgba(255, 255, 255, 0.1);
       }

       &:last-child {
           &::after {
               content: "";
           }
       }
   }
    &_link {
        @include font(12px, normal, $latoBold);

        color: $white;

        &:hover {
            @include transition();

            color: $red1;
        }
    }
}