.social {

    &_item {
        @include flex(center, row, wrap, center);
        @include border(1px, $blue3, 50%);

        display: inline-flex;
        width: 30px;
        height: 30px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            @include transition();
            @include border(1px, $white, 50%);          
        }
    }

    &_link {
        color: $blue3;
        line-height: 1;
        display: block;
        font-size: 14px;
        margin-top: -8px;   
        
        &:hover {
            @include transition();

            color: $white; 
        }
    }

    .footer & {
       float: right;       
    }

    .about & {
        .social_item {
            &:hover {
                @include transition();
                @include border(1px, $black, 50%);
            }
        }
        .social_link {
            &:hover {
                @include transition();

                color: $black;
            }
        }
    }
}