@charset "UTF-8";
@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg#Lato-Black") format("svg"), url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

input, textarea {
  display: block;
  width: 100%;
  outline: none;
  border: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-arrow_left:before, .icon-arrow_right:before, .icon-dribbble:before, .icon-facebook:before, .icon-google:before, .icon-ic1:before, .icon-ic2:before, .icon-ic3:before, .icon-ic4:before, .icon-ic5:before, .icon-ic6:before, .icon-lab:before, .icon-linkedin:before, .icon-location:before, .icon-logo:before, .icon-mail:before, .icon-phone:before, .icon-pinterest:before, .icon-twitter:before {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-arrow_left:before {
  content: "";
}

.icon-arrow_right:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-ic1:before {
  content: "";
}

.icon-ic2:before {
  content: "";
}

.icon-ic3:before {
  content: "";
}

.icon-ic4:before {
  content: "";
}

.icon-ic5:before {
  content: "";
}

.icon-ic6:before {
  content: "";
}

.icon-lab:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-logo:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.nav_item {
  line-height: 95px;
  margin: 0 15px;
  position: relative;
}

.nav_item::after {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Lato-Black";
  font-style: normal;
  position: absolute;
  top: 35px;
  left: auto;
  right: -15px;
  bottom: auto;
  content: ".";
  color: rgba(255, 255, 255, 0.1);
}

.nav_item:last-child::after {
  content: "";
}

.nav_link {
  font-size: 1.2rem;
  line-height: normal;
  font-family: "Lato-Bold";
  font-style: normal;
  color: #ffffff;
}

.nav_link:hover {
  transition: all 0.5s ease;
  color: #eb5055;
}

.logo {
  margin-top: 35px;
}

.header .logo {
  float: left;
}

.social_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #666d89;
  border-radius: 50%;
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.social_item:last-child {
  margin-right: 0;
}

.social_item:hover {
  transition: all 0.5s ease;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.social_link {
  color: #666d89;
  line-height: 1;
  display: block;
  font-size: 14px;
  margin-top: -8px;
}

.social_link:hover {
  transition: all 0.5s ease;
  color: #ffffff;
}

.footer .social {
  float: right;
}

.about .social .social_item:hover {
  transition: all 0.5s ease;
  border: 1px solid #000000;
  border-radius: 50%;
}

.about .social .social_link:hover {
  transition: all 0.5s ease;
  color: #000000;
}

.header {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.header_wrapper {
  background: #303441;
  border-bottom: 6px solid #373b4a;
}

.header .nav {
  float: right;
}

.header_inp, .header_lab {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .header {
    padding: 0 10px;
  }
  .header .nav {
    position: absolute;
    top: 100%;
    left: -100%;
    right: auto;
    bottom: auto;
    width: 100%;
  }
  .header .header_inp:checked + .header_lab + .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    bottom: auto;
    transition: all 0.5s ease;
    background: #373b4a;
    z-index: 20;
  }
  .header .header_inp:checked + .header_lab + .nav .nav_item {
    display: block;
    line-height: 30px;
  }
  .header .header_lab {
    display: block;
    color: #f2f2f2;
    font-size: 40px;
    float: right;
    line-height: 5px;
    margin: 0 20px 20px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .header {
    padding: 0 10px;
  }
}

.footer {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Lato-Black";
  font-style: normal;
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  color: #666d89;
  padding: 25px 0;
}

.footer::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.footer_wrapper {
  background: #303441;
}

.footer_message {
  float: left;
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .footer {
    padding: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .footer {
    padding: 0 10px;
  }
}

.banner {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  padding: 65px 0;
}

.banner_wrapper {
  background: #eb5055;
  border-bottom: 6px solid #ea676b;
}

.banner_slide_img_wrapper {
  margin: 0 auto;
  width: 770px;
}

.banner_slide_img_wrapper .slide_img {
  width: 70%;
  margin: 0 auto;
}

.banner .slick-next:before {
  content: "";
}

.banner .slick-prev:before {
  content: "";
}

.banner .icon-arrow_left, .banner .icon-arrow_right {
  font-size: 50px;
  color: black;
  opacity: .2;
}

.banner .icon-arrow_left:hover, .banner .icon-arrow_right:hover {
  transition: all 0.5s ease;
  opacity: .8;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .banner .banner_slide_img_wrapper {
    width: 100%;
    padding: 0 15px;
  }
  .banner .icon-arrow_left, .banner .icon-arrow_right {
    display: none;
  }
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .banner {
    padding: 10px;
  }
  .banner .icon-arrow_left, .banner .icon-arrow_right {
    display: none;
  }
}

.contact {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  color: #f0d8d9;
}

.contact::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.contact_wrapper {
  background: #eb5055;
  padding: 65px 0;
  border-bottom: 6px solid #ea676b;
}

.contact_form {
  width: 65.608%;
  float: left;
}

.contact_title {
  font-size: 3rem;
  line-height: normal;
  font-family: "Lato-Black";
  font-style: normal;
  margin-bottom: 35px;
}

.contact_description {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Lato-Light";
  font-style: normal;
  margin-bottom: 50px;
}

.contact_info {
  width: 31.746%;
  float: right;
}

.contact_text {
  margin-bottom: 45px;
}

.contact_input, .contact_message {
  font-size: 1.2rem;
  line-height: 40px;
  font-family: "Lato-Black";
  font-style: normal;
  background: #ca4549;
  margin-bottom: 16px;
  padding: 0 16px;
  border-radius: 8px;
}

.contact_input::placeholder, .contact_message::placeholder {
  font-size: 1.2rem;
  line-height: 40px;
  font-family: "Lato-Light";
  font-style: normal;
  color: #f48c8f;
}

.contact_message {
  height: 200px;
}

.contact_info {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
}

.contact_address_item {
  display: block;
}

.contact [class*=icon-] {
  margin-right: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .contact {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact .contact_form {
    width: 100%;
  }
  .contact .contact_info {
    width: 100%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .contact {
    padding: 0 10px;
  }
}

.portfolio {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  color: #666d89;
  padding: 65px 0;
  overflow: hidden;
}

.portfolio_wrapper {
  background: #303441;
  border-bottom: 6px solid #373b4a;
}

.portfolio_title {
  font-size: 3rem;
  line-height: normal;
  font-family: "Lato-Black";
  font-style: normal;
  margin-bottom: 35px;
}

.portfolio_description {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Lato-Light";
  font-style: normal;
}

.portfolio_filter {
  margin-bottom: 10px;
}

.portfolio_filter_item {
  margin: 5px;
}

.portfolio_filter_item:first-child {
  margin-left: 0;
}

.portfolio_filter_link {
  border: 1px solid #666d89;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 1;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #666d89;
  display: inline-block;
  padding: 5px;
}

.portfolio_filter_link:hover {
  transition: all 0.5s ease;
  color: #ffffff;
  border-color: #ffffff;
}

.portfolio_gallery {
  width: calc(100% + 20px);
}

.portfolio_gallery::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.portfolio_gallery_item {
  float: left;
  margin: 0 20px 20px 0;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .portfolio {
    padding: 10px;
  }
  .portfolio .portfolio_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .portfolio .portfolio_gallery_item {
    width: 30%;
    float: none;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .portfolio {
    padding: 0 10px;
  }
  .portfolio .portfolio_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .portfolio .portfolio_gallery_item {
    width: 30%;
    float: none;
    margin: 10px 0;
  }
}

.services {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  color: #666d89;
  padding: 35px 0;
}

.services_wrapper {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services_title {
  font-size: 3rem;
  line-height: normal;
  font-family: "Lato-Black";
  font-style: normal;
  margin-bottom: 35px;
}

.services_description {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Lato-Light";
  font-style: normal;
  margin-bottom: 50px;
}

.services_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.services_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
  margin-bottom: 35px;
}

.services_item_description {
  width: 75%;
}

.services_item_title {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Lato-Black";
  font-style: normal;
}

.services [class*='icon-'] {
  font-size: 50px;
  margin-top: -50px;
}

.services_text {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .services {
    padding: 0 10px;
    text-align: justify;
  }
  .services .services_item {
    width: 50%;
    padding: 0 15px;
  }
  .services .services_item_description {
    width: 100%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .services {
    padding: 10px;
  }
}

.about {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  padding: 65px 0;
  color: #666d89;
}

.about_wrapper {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about_title {
  font-size: 3rem;
  line-height: normal;
  font-family: "Lato-Black";
  font-style: normal;
  margin-bottom: 35px;
}

.about_description {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Lato-Light";
  font-style: normal;
  margin-bottom: 50px;
}

.about_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.about_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
}

.about_name {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Lato-Black";
  font-style: normal;
}

.about_info {
  font-size: 1.1rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  margin-bottom: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .about .about_item {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .about {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 944px) {
  .about {
    padding: 0 10px;
  }
}
