.banner {
    @include background("../img/banner_bg.png");

    text-align: center;
    padding: 400px 0 255px;
    margin-top: -165px;
    z-index: -1;
    position: relative;

    &_info {
        @include font(42px);

        color: $white;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.5);
    }
    &_info_wrapper {
        margin-bottom: 15px;
    }
}