.biography {
    @include centering();
    @include block_padding();

    &_content {
        @include flex();
    }
    &_wrapper {
        @include background("../img/photograph.png");
    }
    &_title {
        @include block_title($white);
    }
    &_text {
        @include font();

        vertical-align: top;
        display: inline-block;
        color: $white;
        width: 50%;

        @include respond-to(mobiles) {
            width: 100%;
        }
    }
    .social {
        width: 50%;

        &_item {
            @include border(1px, $white);

            position: relative;
            width: 65px;
            height: 65px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
            &:hover {
                @include transition();

                background: rgba(255, 255, 255, 0.5);
            }
        }
        &_img {
            @include position(absolute, 50%, 50%);

            transform: translate(-50%, -50%);
            color: $white;
            font-size: 30px;
            line-height: 60px;
            width: 100%;
            text-align: center;
        }
        @include respond-to(mobiles) {
            width: 100%;
        }  
    }

    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include respond-to(portrait) {
        .social {
            &_item {
                width: 18%;
            }
        }
    }
}