.contact {
    @include centering();
    @include block_padding();

    &_wrapper {
        @include background("../img/form_bg.png");
    }
    &_title {
        @include block_title($white);

        width: 100%;
    }
    &_name,
    &_email {
        margin-bottom: 50px;
    }
    &_form {
        @extend %clearfix;
    }
    &_lab {
        @include font();

        text-transform: uppercase;
        color: $white;
        display: block;
        width: 100%;
        clear: both;
    }
    &_inp,
    &_message {
        @include border(1px, $white);
        @include font();

        background: transparent;
        padding: 5px 10px;
        color: $white;
    }
    &_inp {
        width: 100%;
        height: 55px;
        display: block;
    }
    &_message {
        width: 100%;
    }
    &_text {
        @include font();

        color: $white;
        width: 45%;
        float: right;
    }
    &_inputs {
        width: 45%;
        float: left;
    }
    &_submit {
        background: $blue;
        padding: 25px 155px;
        display: block;
        border: none;
        text-transform: uppercase;
        color: $white;
        margin: 20px 0;

        &:hover {
            @include transition();

            cursor: pointer;
            color: $black;
        }
        @include respond-to(mobiles) {
            width: 50%;
            padding: 10px;
        }
    }
    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;

        &_submit {
            width: 50%;
            padding: 10px;
        }
    }
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include respond-to(portrait) {
        &_inputs, &_text {
            width: 100%;
            float: none;
        }
    }
}