.default {
    @include centering();
    @include block_padding();
    @extend %clearfix;

    &_wrapper {
        background: $grey_3;
    }
    &_title {
        @include block_title($white);
    }
    .video_wrapper {
        float: right;
        width: 45%;
        margin-top: -100px;
        position: relative;

        video {
            width: 100%;
        }
        @include respond-to(mobiles) {    
            float: none;
            width: 100%;
        }
        @include respond-to(tablets) {    
            float: none;
            width: 100%;
        }
    }

    &_text {
        @include font(14px, 24px, $mainFont);

        width: 45%;
        display: inline-block;
        color: $white;

        @include respond-to(tablets){
            width: 100%;
            margin-bottom: 110px;
        }
        @include respond-to(mobiles) {    
            width: 100%;
            margin-bottom: 110px;  
        }
    }
    &_link {
        @include font(14px, 2);
        @include border(1px, $grey_4);

        text-transform: uppercase;
        font-weight: bold;
        padding: 15px 35px;
        display: inline-block;
        color: $grey_4;

        &:hover {
            @include transition();

            background: rgba(255,255,255,0.5);
        }
    }
    .controls {
        @include position(absolute, auto, auto, 0, 0);
        @include flex();

        width: 100%;
        z-index: 100;
        padding: 10px;
    }
            
    .play {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 5%;
        border-radius: 5px;
        color: $white;
    }
    .hd {
        @include font(14px, 10px, $mainFont, italic);

        color: $blue;
        font-weight: bold;
    }
    .buffered {
        height: 99%;
        width: 60%;
        background: $grey_2;
        display: block;
    }
    .current {
        height: 99%;
        width: 30%;
        background: $blue;
        display: block;
    }
    .progress {
        @include flex();

        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 83%;
        padding: 10px;

        .total {
            @include border(1px, rgba(255,255,255, 0.8));

            width: 80%;
            height: 10px;

        }
        .volume_line {
            width: 5px;
            height: 10px;
            background: $blue;
            display: inline-block;
        }
    }    

    @include respond-to(mobiles) {   
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
    }
}