.footer {
    @include centering();
    @include block_padding();
    @extend %clearfix;

    &_wrapper {
        background: $grey_4; 
        margin-top: -1px;
    }
    
    .nav {
        float: left;

        &_item {
            border-left: 1px solid $grey_3;
            padding: 3px 15px;

            &:first-child {
                border-left: none;
                padding: 3px 15px 3px 0;
            }

            @include respond-to(mobiles) {
                display: block;
                border: none;
                padding: 0;
            }
        }
        &_link {
            @include font(12px, normal);

            color: $grey_3;
            text-transform: uppercase;

            &:hover {
                @include transition();
                
                color: $white;
            }
        }
    }
    &_date {
        @include font(12px, normal);

        float: right;
        color: $grey_3;
    }
    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
    }
}