.header {
    @include centering();
    @include flex();
    

    align-items: center;

    .logo {
        padding: 65px 0;
    }
    &_wrapper {
        background: rgba(0, 0, 0, 0.5);
    }
    .nav_inp {
        display: none;
    }
    
    .nav {
        @include flex();

        &_lab {
            background: $blue;
            padding: 10px;
            display: none;
    
            .line {
                width: 30px;
                height: 5px;
                display: block;
                background: $white;
                margin-bottom: 3px;
            }
            @include respond-to(mobiles){
                display: block !important;
            }
        }
        @include respond-to(mobiles) {
            @include position(absolute, 100%, -200%);
        }

    }
    .nav_inp:checked + .nav_lab + .nav {
        @include respond-to(mobiles){
            @include transition();

            left: 0;
            background: $grey_3;
            width: 100%;

            .nav_item {
                display: block;
                width: 100%;

                &:first-child {
                    padding-left: 4.2735%; 
                }
            }
        }
    }
    
    
    .nav_item {
        padding-left: 4.2735%;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            margin-right: -21px;
        }
    }
    .nav_link {
        @include font();

        text-transform: uppercase;
        font-weight: bold;
        color: $white_1;
        padding: 12px 20px;
        display: block;

        &:hover {
            @include border(1px, $blue);
            @include transition();

            color: $blue;
            margin: -1px;
        }  
    }
    @include respond-to(mobiles){
        padding: 0 20px;
        position: relative;   
    }
    @include respond-to(tablets) {
        padding-left: 1.7%;
        padding-right: 1.7%;
    }
}
