.portfolio {
    @include centering();
    @include block_padding();
    @extend %clearfix;
    @include flex();


    &_wrapper {
        background: $white;
    }
    &_title {
        @include block_title($grey_3);        
    }
    .filter {
        @include flex();

        line-height: 35px;

       &_item {
            padding-left: 4.2735%;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                margin-right: -21px;
            }
       }
       &_link {
            @include font();

            text-transform: uppercase;
            font-weight: bold;
            color: $grey_3;
            padding: 12px 20px;

            &:hover {
                @include border(1px, $blue);
                @include transition();

                color: $blue;
                margin: -1px;
            }
        
        }
    }
    .gallery {
        @include flex();

        &_item {
            margin-bottom: 30px;
            position: relative;

            &:hover::after {
                @include position();
                @include transition();

                content: "";
                display: block;
                width: 100%;
                height: 100%;
                z-index: 10;
                background: rgba(0, 0, 0, 0.6);
            }
            &:hover::before {
                @include position(absolute, 50%, 50%);
                @include font(72px, normal, $segoe_light);
                @include transition();
                
                content: "+";
                display: block;
                color: $white;
                z-index: 11;
                transform: translate(-50%, -50%);
            }
        }
    }
    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;

        .filter {
            width: 100%;
            display: block;

            &_item{
                width: 20%;
                padding-left: 0;
                display: block;
            }
        }
        .gallery_item,
        .gallery_img {
            width: 100%;
        }
    }
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
       
        .gallery {
            justify-content: space-evenly;
        }
        .gallery_item{
            width: 30%;
        }
        .gallery_img {
            width: 100%;
        }
    }
    
}