.services {
    @include centering();
    @include block_padding();
    
    &_wrapper {
        background: $blue;
    }
    &_title {
        @include block_title($white);
    }
    &_item {
        @include font(12px, normal, $segoe_semibold);

        width: 24%;
        color: $white;
    }
    &_item_name{
        @include font(24px, normal, $segoe_semibold);

        color: $white;
        text-transform: uppercase;
        display: block;
        width: 100%;
    }

    &_img {
        font-size: 80px;
        line-height: 80px;
    }

    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;

        &_item {
            @include flex();

            width: 100%;
            margin-bottom: 50px;
        }
        &_img{
            width: 10%;
        }
        &_text
         {
            width: 100%;
        }
    }
    
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;

        &_list {
            @include flex();
        }
        &_item {
            @include flex();

            width: 50%;
            margin-bottom: 50px;
        }
    }
}