.testimonials {
    @include centering();
    @include block_padding();

    &_wrapper {
        background: $white;
    }
    &_title {
        @include block_title($grey_3);

        position: relative;

        &::before {
            @include position(absolute, auto, auto, 0, 0);
            @include background("../img/lapki.png");
    
            content: "";
            display: block;
            width: 30px;
            height: 23px;
        }
    }
    &_text {
        @include font(28px, 2, $mainFont);

        color: $grey_3;
    }
    &_author {
        @include font(14px, 2, $mainFont);

        color: $blue;
        font-weight: bold;
    }
    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
    }
}