.twitter {
    @include centering();
    @include block_padding();
    @extend %clearfix;

    &_wrapper {
        background: $blue;
    }
    &_title {
        @include block_title($white);

        display: inline-block;
    }
    &_text {
        @include font(28px, 2, $mainFont);

        color: $white;
    }
    &_link {
        @include font(28px, 2, $segoe_semibold);

        color: $white;

        &:hover {
            @include transition();

            text-decoration: underline;
            color: $white_1;
        }
    }
    &_icon {
        float: right;
        font-size: 60px;
        line-height: 60px;
        color: $white;
    }
    @include respond-to(mobiles) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respond-to(tablets) {
        padding-left: 20px;
        padding-right: 20px;
    }
}