@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
         url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
         url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.woff') format('woff'),
         url('../fonts/SegoeUI.ttf') format('truetype'),
         url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.woff') format('woff'),
         url('../fonts/SegoeUI-Light.ttf') format('truetype'),
         url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  
 
  
  
  