@mixin font($size: 14px, $lineHeight: normal, $fontFamily: $mainFont, $font_style: normal) {
	font-size: #{$size/$rootFont}rem;
	line-height: $lineHeight;
	font-family: $fontFamily;
	font-style: $font_style;
}
@mixin position($position: absolute, $top: 0, $left: 0, $right: auto, $bottom: auto) {
	position: $position;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}
@mixin border($size, $color, $radius: 0px) {
	border: $size solid $color;
	border-radius: $radius;
}
@mixin centering($width: 1170px) {
    max-width: $width;
    width: 100%;
	margin: 0 auto;
}
@mixin flex ($justify-content:space-between, $flex-direction:row, $flex-wrap:wrap, $align-items: flex-start) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin background($link, $bg_size: cover){
	background: url($link) no-repeat;
	background-size: $bg_size;
}
@mixin width_calc($width, $max_width){
	width: $width/$max_width *100%;
}

@mixin transition($option:all, $delay: 0.5s, $approach: ease){
	transition: $option $delay $approach;
}

@mixin block_title($color) {
    @include font(24px, normal, $segoe_light);

    text-transform: uppercase;
    color: $color;
    margin-bottom: 40px;

    &::after {
        content: "";
        display: block;
        width: 45px;
        height: 3px;
        background: $color;
    }
}
@mixin block_padding($padding: 80px){
    padding: $padding 0;
}

@mixin respond-to($media) {
    // 320 - 480
    @if $media == portrait {
        @media only screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape - 1) {
            @content;
        }
    }
    // 320 - 800
    @if $media == mobiles {
        @media only screen and (min-width: $mobile-portrait) and (max-width: $tablet-portrait - 1) {
            @content;
        }
    }
    
    // 800 - 1280 portrait and landscape
    @else if $media == tablets {
        @media only screen and (min-width: $tablet-portrait) and (max-width: $tablet-landscape - 1) {
            @content;
        }
    }
   
}
  
