body, h1, h2, h3, h4, h5, h6, ul, li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	display: inline-block;
}
img {
	max-width: 100%;
}
:root {
	font-size: 10px;
}
* {
	box-sizing: border-box;
}
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }