//COLORS
$white: #ffffff;
$white_1:#edeeef;//nav_link
$blue: #4bcaff; // nav link hover // block services
$grey_1: #515f67; // portfolio text
$grey_2: #626f76; // portfolio ul
$grey_3: #515f67;// background default section
$grey_4: #353f46; // button // footer background
$black: #000000;
//FONTS
$rootFont: 10px;
$mainFont: 'SegoeUI';
$segoe_semibold: 'SegoeUI-SemiBold';
$segoe_light: 'SegoeUI-Light';
//sizes
$mobile-portrait: 320px;
$tablet-portrait: 800px;
$tablet-landscape: 1280px;
$mobile-landscape: 480px;
