.social {

    &_item {
        @include flex(center, row, wrap, center);

        display: inline-flex;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        
        &:last-child {
            margin-right: 0;
        }
    }

    &_link {
        line-height: 1;
        display: block;
        font-size: 14px;
        margin-top: -8px;
    }

    .footer & {
       float: right;

       &_link {
        color: $white;
        }
    }
    .icon-facebook {
        &:hover {
            @include transition();

            color: $blueFB;
        }
    }

    .icon-twitter {
        &:hover {
            @include transition();

            color: $blueTW;
        }
    }

    .icon-google_plus {
        &:hover {
            @include transition();

            color: $redGplus;
        }
    }
}