.section{
	&_title {
		color: $black_1;
		line-height: normal;
		text-align: center;
	}

	&_subtitle{
		@include font($oswReg, 28px, 1px);

		margin-top: 20px;
	}
}

.product {
	width: 90%;
	margin: 0 auto;

	&_list {
		list-style: none;
		font-size: 0;
		text-align: center;
	}

	&_item {
		display: inline-block;
		margin-left: 90px;
		vertical-align: top;

		&:first-child {
			margin-left: 0;
		}
	}

	&_info {
		text-align: center;
		margin-top: 45px;
	}

	&_icon {
		margin: 0 auto;
	}

	&_title {
		@include font($bazar, 50px, normal);

		color: $black_2;
		display: inline-block;
	}

	&_subtitle {
		@include font($mainFont, 23px, normal);

		color: $black_2;
		margin-top: 20px;
		position: relative;

		&:after {
			@include position(absolute, auto, 50%, auto, -30px);

			content: "";
			width: 80px;
			height: 7px;
			transform: translateX(-50%);
			background: $black_2;
		}
	}

	&_link {
		color: $black_2;
		text-decoration: underline;
	}

	&_bold {
		font-weight: bold;
	}

	&_description {
		@include font($mainFont, 23px, normal);

		color: $black_2;
		width: 300px;
		text-align: left;
		margin-top: 70px;
	}
}

.about {
	@extend %border_top;
	@extend %border_bottom;

	position: relative;
	padding: 95px 5px;	
	width: 100%;
	background: url(../img/about-bg.png);

	&_content {
		@include centering();
	}
}

.movies {
	@include background_sprite(300px, 301px, "../img/about.png", 0%,  0);
}

.music {
	@include background_sprite(300px, 301px, "../img/about.png", 33.2%,  0);
}

.clothes {
	@include background_sprite(300px, 301px, "../img/about.png", 66.6%,  0);
}

.food {
	@include background_sprite(300px, 301px, "../img/about.png", 100%,  0);
}

