.blog {
	@extend %border_top;
	@extend %border_bottom;

	background: url(../img/blog-bg.png) repeat;
	padding: 100px 0;
	position: relative;

	&_content {
		@include centering();
	}

	&_wrapper {
		margin-bottom: 60px;
	}

	&_item {
		@include flex(space-between, flex-start, row);

		margin-bottom: 60px;
	}

	&_image {
		flex-basis: 29.72%;
		padding: 8px;
		background: $white_2;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	&_img {
		background: #e3dfd7;
		width: 100%;
		padding-bottom: 80%;
	}

	&_item_content {
		flex-basis: 68.72%;
		color: $black_2;
	}

	&_title {
		@include font($robBold, 48px, normal);

		margin-bottom: 10px;
	}

	&_subtitle {
		@include font($oswBold, 20px, normal);
		@include flex(space-between, center, row);

		text-transform: uppercase;
		margin-bottom: 25px;
	}

	&_desc {
		@include font($mainFont, 32px, 2);
		
		&_link {
			@include font($robBold, 22px, normal);

			text-transform: uppercase;
			color: $black_2;
		}
	}

	.block_footer_wrapper {
		text-align: center;
	}
}