.footer {
  @include centering();

  .section_title,
  .section_title_decoration,
  .section_subtitle {
    color: $white_1;
  }

  .section_title {
    text-shadow: 3px 3px 0 $grey_1;
  }

  .section_title_decoration {
    &::before {
      background-color: $white_1;
    }

    &::after {
      background-color: $white_1;
    }
  }

  &_wrapper {
    @extend %border_top;
    @extend %border_bottom;

    position: relative;
    background: url("../img/footer-bg.png");
    padding: 100px 0 150px;
  }

  &_form {
    @include flex(flex-start, center, column);

    width: 52.43%;
    margin-bottom: 80px;

    &_wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &_input,
  &_message {
    @include font('RobotoSlab-Regular', 32px, 22px);

    width: 100%;
    border-radius: 5px;
    padding: 25px 20px;
    margin-bottom: 20px;
  }

  &_message {
    height: 335px;
  }

  &_social {
    &_title {
      @include font($bazar, 48px);

      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      padding-bottom: 30px;
      margin-bottom: 35px;

      &::after {
        @include position(absolute, 100%, 50%);

        content: '';

        width: 5%;
        height: 3px;
        transform: translateX(-50%);
        background-color: $white;
      }
    }

    &_list {
      @include flex(center, center)
    }

    &_item {
      margin-right: 55px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &_twitter {
    @include background_sprite(160px, 160px, "../img/social.png", 0, 0);

    &:hover {
      @include background_sprite(160px, 160px, "../img/social.png", 0, 100%);
    }
  }

  &_fb {
    @include background_sprite(160px, 160px, "../img/social.png", 25%, 0);

    &:hover {
      @include background_sprite(160px, 160px, "../img/social.png", 25%, 100%);
    }
  }

  &_g {
    @include background_sprite(160px, 160px, "../img/social.png", 50%, 0);

    &:hover {
      @include background_sprite(160px, 160px, "../img/social.png", 50%, 100%);
    }
  }

  &_paintres {
    @include background_sprite(160px, 160px, "../img/social.png", 75%, 0);

    &:hover {
      @include background_sprite(160px, 160px, "../img/social.png", 75%, 100%);
    }
  }

  &_linkedin {
     @include background_sprite(160px, 160px, "../img/social.png", 100%, 0);

    &:hover {
      @include background_sprite(160px, 160px, "../img/social.png", 100%, 100%);
    }
  }

  &_button {
    @include font($robBold, 32px, 22px);

    display: inline-block;
    padding: 22px;
    background-color: $white;
    border-radius: 5px;
    color: $black_2;
    align-self: flex-start;
  }
}