.header {
    @include centering();

    position: relative;

    &_wrapper {
        position: relative;
        border-bottom: 5px solid rgba(0, 0, 0, 0.1);

        &:before{
            @include position(absolute, auto, 0, auto, 20px);

            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-image: url(../img/border.png);
            background-repeat: repeat;
            opacity: 0.5;
        }
    }
    &_slider_wrapper {
        background: url(../img/header-bg.png);
        background-size: cover;
    }
    &_logo {
        @include position(absolute, 0%, 50%);

        transform: translate(-50%);
        z-index: 2000;
    }
    &_nav {
        @include flex(space-around, center);

        &_item {
            display: inline-block;
            padding: 100px 0;

            .nav_item:nth-child(2) {
                margin-right: 280px;
            }
            &:nth-child(3) {
                margin-left: 280px;
            }
        }
        &_link {
            @include font($bazar, 54px, normal);

            color: $white_2;

            &:hover {
                transition: all 1s ease;
                color: $grey_3;
            }
        }
    }
}