.portfolio {
	@extend %border_top;
	@extend %border_bottom;

	background: url(../img/portfolio-bg.png) repeat;
	padding: 100px 0;
	border-bottom: 1px solid $grey_2;
	position: relative;

	&_content {
		@include centering();
	}

	&_buttons {
		margin-bottom: 40px;
	}

	&_filter {
		@include font($mainFont, 32px, normal);

		color: $black_2;
		margin-right: 50px;
		display: inline-block;
	}

	&_button {
		display: inline-block;
		background: $white_2;
		margin-right: 40px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		border-radius: 0 5px 5px 0;

		&:last-child {
			margin-right: 0;
		}

		&_link {
			@include font ($robBold, 24px, normal);

			color: $black_2;
			position: relative;
			padding: 9px 20px;
			display: inline-block;

			&:after {
				content: "";
				position: absolute;
				background: url(../img/tag.png) no-repeat;
				width: 30px;
				height: 50px;
				left: -24px;
				top: 0px;
			}

			&:before {
				@include position(absolute, 45%, 5px);

				content: "";
				height: 8px;
				width: 8px;
				background: $grey_3;
				border-radius: 50%;
			}
		}
	}

	&_wrapper {
		margin-bottom: 60px;
	}

	&_list {
		@include flex(space-between, stretch, row);

		flex-wrap: wrap;
	}

	&_item {
		flex-basis: 23.62%;
		background: $white_2;
		padding: 8px;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		margin-bottom: 40px;
	}

	&_image {
		background: $white_0;
		width: 100%;
		padding-bottom: 75%;
		position: relative;
	}
	
	&_title {
		@include font($mainFont, 24px, normal);

		text-align: center;
		text-transform: uppercase;
		padding: 50px 0 20px;
	}

	&_icon {
		@include position(absolute, 80%, auto, 50%);

		border-radius: 50%;
		transform: translateX(50%);
		font-size: 50px;
		line-height: 50px;
		background: $white_0;
		padding: 10px;
		color: $black_4;
	}

	.block_footer_wrapper {
		text-align: center;
	}
}