.slider {
    @include centering();

    text-align: center;
    position: relative;

    &_wrapper {
        position: relative;

        &:before{
            @include position(absolute, 20px, 0);

            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-image: url(../img/border.png);
            background-repeat: repeat;
            opacity: 0.5;
        }

        &:after{
            @include position(absolute, 20px, 0);

            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-image: url(../img/border.png);
            background-repeat: repeat;
            opacity: 0.5;
        }
    }

    &_title {
        @include font('SeasideResortNF', 224px, 360px);

        color: $white_2;
        text-shadow: 10px 10px 0 $black_1;
        text-align: center;

    }
    &_subtitle {
        @include font($bazar, 44px);

        display: inline-block;
        width: 875px;
        color:  $black_4;
        background: url(../img/sub_logo.png) no-repeat;
        margin-bottom: 100px;
        padding: 35px 0 130px;
        position: relative;

        &:before {
            @include position(absolute, 30%, -30%);

            content: "";
            background: url(../img/before_old.png);
            background-size: cover;
            width: 190px;
            height: 14px;
            display: block;
        }
        &:after {
            @include position(absolute, 30%, 110%);

            content: "";
            background: url(../img/before_old.png);
            background-size: cover;
            width: 190px;
            height: 14px;
            display: block;
        }
    }
    .slide {
        background-color: $white_1;
        border-radius: 5px;
        margin-bottom: 60px;

        &_text {
            @include font($bazar, 44px, 80px);

            color: $black_1;
            vertical-align: top;
            display: inline-block;
            padding-bottom: 10px;
        }
    }
    .slide_img {
        width: 100%;
        height: 100%;
    }
    .slide_img_wrapper {
        padding: 20px;
        width: 100%;
        height: 920px;
    }
    &_info {
        @include font($bazar, 64px, 130px);

        width: 950px;
        text-align: center;
        display: inline-block;
        color: $white_2;
        margin-bottom: 115px;

        &_smaller {
            @include font($bazar, 53px);

            display: block;
        }
    }
    .slider_ar, 
    .slick-next:before, 
    .slick-next, 
    .slick-prev:before, 
    .slick-prev  {
        display: none;
        background: $white_1;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        z-index: 100;

        
    }
    .slick-prev:before, .slick-next:before {
        opacity: 0;
    }
    .slick-prev {
        img {
            @include position(absolute, 30% , 50%);

            object-fit: none;
            object-position: 0px 0px;
            width: 27px;
            height: 42px;
          }
    }
    .slick-next {
        img {
            @include position(absolute, 30% , 30%);

            object-fit: none;
            object-position: -54px 0;
            width: 27px;
            height: 42px;
          }
    }
    .slick-prev:hover {
        img {
            @include position(absolute, 30% , 50%);

            object-fit: none;
            object-position: -27px 0px;
            width: 27px;
            height: 42px;
          }
    }
    .slick-next:hover {
        img {
            @include position(absolute, 30% , 30%);

            object-fit: none;
            object-position: -81px 0;
            width: 27px;
            height: 42px;
          }
    }
    .slick-slider {
        overflow: hidden;
    }
       

}