.about {
    @include centering();

    padding: 65px 0;
    color: $grey1;

    &_wrapper {
        background: $white1;
        border-bottom: 6px solid $white;
    }

    &_title {
        @include font(30px);
       
        margin-bottom: 35px;
    }

    &_description {
        @include font(18px, 2, $latoLight);

        margin-bottom: 50px;
    }

    &_list {
        @include flex(space-between, row, wrap, stretch);
    }

    &_item {
        @include flex(space-between, column, wrap);

        width: 30%;
    }

    &_name {
        @include font(18px, 2);
    }

    &_info {
        @include font(11px, 2, $lato);

        margin-bottom: 25px;
    }

    @include respond-to(portrait) {
        .about_item {
            width: 100%;
        }
    }

    @include respond-to(mobiles){
        padding: 0 10px;
    }

    @include respond-to(tablets) {
        padding: 0 10px;
    }
}