.banner {
    @include centering();

    padding: 65px 0;

    &_wrapper {
        background: $red1;
        border-bottom: 6px solid $red3;
    }

    &_slide_img_wrapper {
        margin: 0 auto;
        width: 770px;

        .slide_img{
            width: 70%;
            margin: 0 auto;
        }
    }
    .slick-next:before {
        content: "";
    }
    .slick-prev:before {
        content: "";
    }
    .icon-arrow_left, .icon-arrow_right{
        font-size: 50px;
        color: black;
        opacity: .2;

        &:hover {
            @include transition();

            opacity: .8;
        }
    }
    @include respond-to(mobiles){
        .banner_slide_img_wrapper {
            width: 100%;
            padding: 0 15px;
        }

        .icon-arrow_left, .icon-arrow_right{
            display: none;
        }
    }

    @include respond-to(tablets) {
        padding: 10px;

        .icon-arrow_left, .icon-arrow_right{
            display: none;
        }
    }
}
