.contact {
    @include centering();
    @include clearfix();

    color: $pink;

    &_wrapper {
        background: $red1;
        padding: 65px 0;
        border-bottom: 6px solid $red3;
    }

    &_form {
        @include width_calc(620px, $max-width);

        float: left;
    }

    &_title {
        @include font(30px);
       
        margin-bottom: 35px;
    }

    &_description {
        @include font(18px, 2, $latoLight);

        margin-bottom: 50px;
    }

    &_info {
        @include width_calc(300px, $max-width);

        float: right;
    }

    &_text {
        margin-bottom: 45px;
    }

    &_input,
    &_message {
        @include font(12px, 40px);

        background: $red2;
        margin-bottom: 16px;
        padding: 0 16px;
        border-radius: 8px;
        
        &::placeholder {
            @include font(12px, 40px, $latoLight);

            color: $pink2;
        }
    }
    &_message {
        height: 200px;
    }

    
    &_info {
        @include font(12px, 2, $lato);
    }

    &_address_item {
        display: block;
    }
    [class*=icon-] {
        margin-right: 10px;
    }

    @include respond-to(mobiles) {
        padding: 0 10px;
    }

    @include respond-to(portrait) {
        .contact_form {
            width: 100%;
        }

        .contact_info {
            width: 100%;
        }
    }

    @include respond-to(tablets) {
        padding: 0 10px;
    }
}