.footer {
    @include font(12px, 2);
    @include centering();
    @include clearfix();

    color: $blue3;
    padding: 25px 0;

    &_wrapper {
        background: $blue1;
    }

    &_message {
        float: left;
    }

    @include respond-to(tablets) {
        padding: 10px;
    }
    @include respond-to(mobiles){
        padding: 0 10px;
    }
}