.header {
    @include centering();
    @include clearfix();

    position: relative;

    &_wrapper {
        background: $blue1;
        border-bottom: 6px solid $blue2;
    }  

    .nav {
        float: right;
    }

    &_inp, &_lab {
        display: none;
    }

    @include respond-to(mobiles) {
        padding: 0 10px;

        .nav {
            @include position(absolute, 100%, -100%);

            width: 100%;
        }

        .header_inp:checked + .header_lab + .nav {
            @include position(absolute, 100%, 0);
            @include transition();
            
            background: $blue2;
            z-index: 20;

            .nav_item {
                display: block;
                line-height: 30px;
            }
        }

        .header_lab {
            display: block;
            color: $white1;
            font-size: 40px;
            float: right;
            line-height: 5px;
            margin: 0 20px 20px;
        }
    }

    @include respond-to(tablets) {
        padding: 0 10px;
    }
}