.portfolio {
    @include centering();

    color: $blue3;
    padding: 65px 0;
    overflow: hidden;

    &_wrapper {
        background: $blue1;
        border-bottom: 6px solid $blue2;
    }
    
    &_title {
        @include font(30px);
       
        margin-bottom: 35px;
    }

    &_description {
        @include font(18px, 2, $latoLight);
    }

    &_filter {
        margin-bottom: 10px;
    }

    &_filter_item {
        margin: 5px;

        &:first-child {
            margin-left: 0;
        }
    }

    &_filter_link {
        @include border(1px, $blue3, 5px);
        @include font(12px, 1, $lato);

        color: $blue3;
        display: inline-block;
        padding: 5px;

        &:hover {
            @include transition();

            color: $white;
            border-color: $white;
        }
    }

    &_gallery {
        @include clearfix();

        width: calc(100% + 20px);
    }

    &_gallery_item {
        float: left;
        margin: 0 20px 20px 0;
    }

    @include respond-to(mobiles){
        padding: 10px;

        .portfolio_gallery{
            @include flex();
            width: 100%;
        }

        .portfolio_gallery_item {
            width: 30%;
            float: none;
            margin: 10px 0;
        }
    }
    @include respond-to(tablets) {
        padding: 0 10px;

        .portfolio_gallery{
            @include flex();
            width: 100%;
        }

        .portfolio_gallery_item {
            width: 30%;
            float: none;
            margin: 10px 0;
        }
    }
}