.services {
    @include centering();

    color: $grey1;
    padding: 35px 0;

    &_wrapper {
        background: $white1;
        border-bottom: 6px solid $white;
    }

    &_title {
        @include font(30px);
       
        margin-bottom: 35px;
    }

    &_description {
        @include font(18px, 2, $latoLight);

        margin-bottom: 50px;
    }

    &_list {
        @include flex();
    }

    &_item {
        @include flex();

        width: 30%;
        margin-bottom: 35px;
    }

    &_item_description {
        width: 75%;
    }

    &_item_title {
        @include font(18px, 2);
    }

    [class*='icon-'] {
        font-size: 50px;
        margin-top: -50px;
    }

    &_text {
        @include font(12px, 2, $lato);
    }

    @include respond-to(mobiles){
        padding: 0 10px;
        text-align: justify;

        .services_item{
            width: 50%;
            padding: 0 15px;

            &_description {
                width: 100%;
            }
        }
    }
    @include respond-to(tablets) {
        padding: 10px;
    }
}
