.nav {
   &_item {
       line-height: 55px;
       margin: 0 15px;
       position: relative;

       &::after {
            @include font();
            @include position(absolute, 15px, auto, -15px);

            content: ".";
            color: rgba(255, 255, 255, 0.1);
       }

       &:nth-child(2){
            margin-right: 60px;
       }
       
       &:last-child {
        &::after {
            content: "";
        }
       }
   }
    &_link {
        @include font(10px, normal, $latoBold);

        color: $white;

        &:hover {
            @include transition();

            color: $green_1;
        }
    }

    @include respond-to(portrait){
        &_link {
            @include font(8px);
        }
    }
}