.social {
    font-size: 0;

    &_item {
        text-align: center;
    }

    &_link {
        color: $white;
        line-height: 1;
        width: 100%;
        display: block;
        font-size: 14px;
        padding: 0 10px 10px;
    }
    .icon-facebook {
        background: $fb;
    }
    .icon-twitter{
        background: $twitter;
    }
    .icon-google{
        background: $gPlus;
    }
    .icon-pinterest{
        background: $pinterest;
    }
    .icon-linkedin{
        background: $in;
    }
    .icon-dribbble {
        background: $dribbble;
    }
}