.social {
    &_link {
        color: $grey2;
        font-size: 14px;  
    }

    &_item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0; 
        }
    }

    .footer & {
        &_link {
            padding: 5px 10px;
            border: 1px solid $grey6;

            &:hover {
                @include transition();

                background: $red1;
                color: $white;
                border-color: $red1;
            }
        } 
    }

    .header & {
        float: left;
    
        &_link {
            &:hover {
                @include transition();

                color: $red1;
            }
        }
    } 
}