.user {
    float: right;

    &_list {
        padding: 20px 0;
    }

    &_inp, &_label {
        display: none;
    }

    &_item {
        vertical-align: top;
        line-height: 50px;
    }

    &_avatar {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }

    &_link {
        position: relative;
        font-size: 15px;
        margin: 0 10px;
        color: $grey1;

        &_number {
            @include position(absolute, -60%, 50%);

            display: block;
            padding: 2px;
            background: $grey1;
            border-radius: 50px;
            line-height: 10px;
            color: $white;
        
            &:hover {
                background: $red1;           
            }
        }
    }
}