@font-face {
	font-family: "myfont";
	src: url('../fonts/iconsfont/myfont.eot');
	src: url('../fonts/iconsfont/myfont.eot?#iefix') format('eot'),
		url('../fonts/iconsfont/myfont.woff2') format('woff2'),
		url('../fonts/iconsfont/myfont.woff') format('woff'),
		url('../fonts/iconsfont/myfont.ttf') format('truetype'),
		url('../fonts/iconsfont/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == anchor {
		$char: "\E001";
	}
	@if $filename == arr {
		$char: "\E002";
	}
	@if $filename == arrow_left {
		$char: "\E003";
	}
	@if $filename == arrow_right {
		$char: "\E004";
	}
	@if $filename == bag {
		$char: "\E005";
	}
	@if $filename == bell {
		$char: "\E006";
	}
	@if $filename == bird {
		$char: "\E007";
	}
	@if $filename == brush {
		$char: "\E008";
	}
	@if $filename == burger {
		$char: "\E009";
	}
	@if $filename == camera {
		$char: "\E00A";
	}
	@if $filename == checked {
		$char: "\E00B";
	}
	@if $filename == contract {
		$char: "\E00C";
	}
	@if $filename == cup {
		$char: "\E00D";
	}
	@if $filename == darts {
		$char: "\E00E";
	}
	@if $filename == deer {
		$char: "\E00F";
	}
	@if $filename == envelope {
		$char: "\E010";
	}
	@if $filename == facebook {
		$char: "\E011";
	}
	@if $filename == google {
		$char: "\E012";
	}
	@if $filename == left_chevron {
		$char: "\E013";
	}
	@if $filename == linkedin {
		$char: "\E014";
	}
	@if $filename == monitor {
		$char: "\E015";
	}
	@if $filename == phone {
		$char: "\E016";
	}
	@if $filename == pinterest {
		$char: "\E017";
	}
	@if $filename == right_chevron {
		$char: "\E018";
	}
	@if $filename == shirt {
		$char: "\E019";
	}
	@if $filename == t {
		$char: "\E01A";
	}
	@if $filename == twitter {
		$char: "\E01B";
	}
	@if $filename == up {
		$char: "\E01C";
	}
	@if $filename == user {
		$char: "\E01D";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-anchor {
	@include icon(anchor);
}
.icon-arr {
	@include icon(arr);
}
.icon-arrow_left {
	@include icon(arrow_left);
}
.icon-arrow_right {
	@include icon(arrow_right);
}
.icon-bag {
	@include icon(bag);
}
.icon-bell {
	@include icon(bell);
}
.icon-bird {
	@include icon(bird);
}
.icon-brush {
	@include icon(brush);
}
.icon-burger {
	@include icon(burger);
}
.icon-camera {
	@include icon(camera);
}
.icon-checked {
	@include icon(checked);
}
.icon-contract {
	@include icon(contract);
}
.icon-cup {
	@include icon(cup);
}
.icon-darts {
	@include icon(darts);
}
.icon-deer {
	@include icon(deer);
}
.icon-envelope {
	@include icon(envelope);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-google {
	@include icon(google);
}
.icon-left_chevron {
	@include icon(left_chevron);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-monitor {
	@include icon(monitor);
}
.icon-phone {
	@include icon(phone);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-right_chevron {
	@include icon(right_chevron);
}
.icon-shirt {
	@include icon(shirt);
}
.icon-t {
	@include icon(t);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-up {
	@include icon(up);
}
.icon-user {
	@include icon(user);
}