@font-face {
     font-family: 'CrimsonText-Regular';
     src: url('../../fonts/Crimson_Text/CrimsonText-Regular.eot');
     src: url('../../fonts/Crimson_Text/CrimsonText-Regular.woff2') format('woff2'),
          url('../../fonts/Crimson_Text/CrimsonText-Regular.woff') format('woff'),
          url('../../fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype'),
          url('../../fonts/Crimson_Text/CrimsonText-Regular.svg#CrimsonText-Regular') format('svg'),
          url('../../fonts/Crimson_Text/CrimsonText-Regular.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
   
   
@font-face {
     font-family: 'CrimsonText-Italic';
     src: url('../fonts/Crimson_Text/CrimsonText-Italic.eot');
     src: url('../fonts/Crimson_Text/CrimsonText-Italic.woff2') format('woff2'),
          url('../fonts/Crimson_Text/CrimsonText-Italic.woff') format('woff'),
          url('../fonts/Crimson_Text/CrimsonText-Italic.ttf') format('truetype'),
          url('../fonts/Crimson_Text/CrimsonText-Italic.svg#CrimsonText-Italic') format('svg'),
          url('../fonts/Crimson_Text/CrimsonText-Italic.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}
   
   
@font-face {
     font-family: 'Montserrat-Regular';
     src: url('../fonts/Montserrat/Montserrat-Regular.eot');
     src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
          url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
          url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
          url('../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
          url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}
   
   
@font-face {
     font-family: 'Montserrat-Black';
     src: url('../fonts/Montserrat/Montserrat-Black.eot');
     src: url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
          url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
          url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype'),
          url('../fonts/Montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg'),
          url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}
   
   
   
   
   
   
   
   
  