//COLORS
$white: #ffffff;
$white1: #f2f2f2;// back service

$black: #000000;
$black1: #1c1e23;//banner back

$blue1: #343e5c; // nav link
$blue2: #2754eb;//button buy
$blue3: #222328;
$blueFB: #4267b2;//FACEBOOK COLOR
$blueTW: #38A1F3;//TWITTER COLOR

$redGplus: #DD4B39;// GOOGLE PLUS COLOR

$grey1: #e3e8f0;//cart back
$grey2: #f0f2f7;//border
$grey3: #b9bed1;//header bottom text
$grey4: #2d2e33;
$grey5: #545559;
$grey6: #e4e5e7;
$grey7: #c2c6d7;
$grey8: #605f5e;

$green: #00e2aa;

$rootFont: 10px;
$mainFont: 'Montserrat-Regular';
$max-width: 1170px;
//FONTS
$crimson_italic: 'CrimsonText-Italic';
$montserrat_black: 'Montserrat-Black';
$crimson_regular: 'CrimsonText-Regular';