@font-face {
	font-family: "myfont";
	src: url('../fonts/iconsfont/myfont.eot');
	src: url('../fonts/iconsfont/myfont.eot?#iefix') format('eot'),
		url('../fonts/iconsfont/myfont.woff2') format('woff2'),
		url('../fonts/iconsfont/myfont.woff') format('woff'),
		url('../fonts/iconsfont/myfont.ttf') format('truetype'),
		url('../fonts/iconsfont/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow_left {
		$char: "\E001";
	}
	@if $filename == arrow_right {
		$char: "\E002";
	}
	@if $filename == burger {
		$char: "\E003";
	}
	@if $filename == cart {
		$char: "\E004";
	}
	@if $filename == checked {
		$char: "\E005";
	}
	@if $filename == dot {
		$char: "\E006";
	}
	@if $filename == dribbble {
		$char: "\E007";
	}
	@if $filename == facebook {
		$char: "\E008";
	}
	@if $filename == google {
		$char: "\E009";
	}
	@if $filename == google_plus {
		$char: "\E00A";
	}
	@if $filename == keyboard_arrow_left {
		$char: "\E00B";
	}
	@if $filename == keyboard_arrow_right {
		$char: "\E00C";
	}
	@if $filename == left_arro {
		$char: "\E00D";
	}
	@if $filename == linkedin {
		$char: "\E00E";
	}
	@if $filename == location {
		$char: "\E00F";
	}
	@if $filename == mail {
		$char: "\E010";
	}
	@if $filename == phone {
		$char: "\E011";
	}
	@if $filename == pinterest {
		$char: "\E012";
	}
	@if $filename == right {
		$char: "\E013";
	}
	@if $filename == search {
		$char: "\E014";
	}
	@if $filename == tick {
		$char: "\E015";
	}
	@if $filename == twitter {
		$char: "\E016";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow_left {
	@include icon(arrow_left);
}
.icon-arrow_right {
	@include icon(arrow_right);
}
.icon-burger {
	@include icon(burger);
}
.icon-cart {
	@include icon(cart);
}
.icon-checked {
	@include icon(checked);
}
.icon-dot {
	@include icon(dot);
}
.icon-dribbble {
	@include icon(dribbble);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-google {
	@include icon(google);
}
.icon-google_plus {
	@include icon(google_plus);
}
.icon-keyboard_arrow_left {
	@include icon(keyboard_arrow_left);
}
.icon-keyboard_arrow_right {
	@include icon(keyboard_arrow_right);
}
.icon-left_arro {
	@include icon(left_arro);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-location {
	@include icon(location);
}
.icon-mail {
	@include icon(mail);
}
.icon-phone {
	@include icon(phone);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-right {
	@include icon(right);
}
.icon-search {
	@include icon(search);
}
.icon-tick {
	@include icon(tick);
}
.icon-twitter {
	@include icon(twitter);
}