@charset "UTF-8";
@font-face {
  font-family: 'MavenPro-Regular';
  src: url("../fonts/MavenPro-Regular.eot");
  src: url("../fonts/MavenPro-Regular.woff2") format("woff2"), url("../fonts/MavenPro-Regular.woff") format("woff"), url("../fonts/MavenPro-Regular.ttf") format("truetype"), url("../fonts/MavenPro-Regular.svg#MavenPro-Regular") format("svg"), url("../fonts/MavenPro-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.banner::before {
  content: "";
  display: block;
  width: 45%;
  height: 1px;
  position: absolute;
  top: 20px;
  left: 15px;
  background: #e4e9eb;
  z-index: -1;
}

.banner::after {
  content: "";
  display: block;
  width: 45%;
  height: 1px;
  background: #e4e9eb;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: -1;
}

:root {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input, textarea {
  display: block;
  width: 100%;
  outline: none;
  border: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-dribbble:before, .icon-facebook:before, .icon-google:before, .icon-linkedin:before, .icon-location:before, .icon-logo:before, .icon-mail:before, .icon-phone:before, .icon-pinterest:before, .icon-twitter:before {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-dribbble:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-logo:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.header {
  text-align: center;
  background: #323232;
  position: relative;
  padding-top: 13px;
}

.header::after {
  border: 25px solid transparent;
  border-top-color: #323232;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  display: block;
  content: "";
}

.nav_item {
  line-height: 55px;
  margin: 0 15px;
  position: relative;
}

.nav_item::after {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "MavenPro-Regular";
  font-style: normal;
  position: absolute;
  top: 15px;
  left: auto;
  right: -15px;
  bottom: auto;
  content: ".";
  color: rgba(255, 255, 255, 0.1);
}

.nav_item:nth-child(2) {
  margin-right: 60px;
}

.nav_item:last-child::after {
  content: "";
}

.nav_link {
  font-size: 1rem;
  line-height: normal;
  font-family: "Lato-Bold";
  font-style: normal;
  color: #ffffff;
}

.nav_link:hover {
  transition: all 0.5s ease;
  color: #2eb398;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav_link {
    font-size: 0.8rem;
    line-height: normal;
    font-family: "MavenPro-Regular";
    font-style: normal;
  }
}

.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%);
}

.footer {
  font-size: 1.2rem;
  line-height: 44px;
  font-family: "MavenPro-Regular";
  font-style: normal;
  background: #222222;
  color: rgba(255, 255, 255, 0.1);
  padding-left: 40px;
}

.contact {
  width: 100%;
  max-width: 785px;
  margin: 0 auto;
  color: #e0e0e0;
}

.contact::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.contact_wrapper {
  background: #323232;
  padding: 65px 0;
}

.contact_form {
  float: left;
  width: 580px;
}

.contact_title {
  font-size: 3rem;
  line-height: normal;
  font-family: "MavenPro-Regular";
  font-style: normal;
}

.contact_subtitle {
  font-size: 1.8rem;
  line-height: normal;
  font-family: "MavenPro-Regular";
  font-style: normal;
  margin-bottom: 25px;
}

.contact_info {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  float: right;
  width: 190px;
}

.contact_text {
  margin-bottom: 45px;
}

.contact_input, .contact_message {
  font-size: 1.2rem;
  line-height: 40px;
  font-family: "Lato-Regular";
  font-style: normal;
  background: #454545;
  margin-bottom: 16px;
  padding: 0 16px;
  color: #e0e0e0;
}

.contact_input::placeholder, .contact_message::placeholder {
  font-size: 1.2rem;
  line-height: 40px;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #e0e0e0;
}

.contact_message {
  height: 170px;
}

.contact_button {
  font-size: 1.2rem;
  line-height: 3;
  font-family: "Lato-Bold";
  font-style: normal;
  text-transform: uppercase;
  background: #2eb398;
  color: #d7fcf5;
  padding: 0 38px;
  float: right;
  position: relative;
}

.contact_button:hover:after {
  transition: all 0.5s ease;
  position: absolute;
  top: 110%;
  left: 0;
  right: auto;
  bottom: auto;
  font-size: 1.4rem;
  line-height: normal;
  font-family: "MavenPro-Regular";
  font-style: normal;
  content: "send your message";
  color: #323232;
  background-color: #d7fcf5;
}

.contact .icon {
  color: #2eb398;
  margin-right: 12px;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .contact {
    padding: 0 20px;
  }
  .contact_form {
    width: 100%;
    float: none;
  }
  .contact_info {
    float: none;
  }
}

.social {
  font-size: 0;
}

.social_item {
  text-align: center;
}

.social_link {
  color: #ffffff;
  line-height: 1;
  width: 100%;
  display: block;
  font-size: 14px;
  padding: 0 10px 10px;
}

.social .icon-facebook {
  background: #3560a0;
}

.social .icon-twitter {
  background: #2ca9e1;
}

.social .icon-google {
  background: #dc5443;
}

.social .icon-pinterest {
  background: #ca2026;
}

.social .icon-linkedin {
  background: #096c9b;
}

.social .icon-dribbble {
  background: #e7598f;
}

.biography {
  width: 100%;
  max-width: 785px;
  margin: 0 auto;
}

.biography::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.biography_wrapper {
  background: #2eb398;
  padding: 67px 0;
}

.biography_title {
  font-size: 3rem;
  line-height: normal;
  font-family: "MavenPro-Regular";
  font-style: normal;
  color: #d7fcf5;
}

.biography_subtitle {
  font-size: 1.8rem;
  line-height: normal;
  font-family: "MavenPro-Regular";
  font-style: normal;
  color: #20816d;
  margin-bottom: 25px;
}

.biography_text {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #d7fcf5;
}

.biography_image {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.biography_info {
  width: 74.52229%;
  float: right;
}

.biography_img {
  width: 23.18471%;
  float: left;
}

.biography .social {
  float: right;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .biography {
    padding: 0 20px;
  }
}

.banner {
  padding: 100px;
  position: relative;
}

.banner_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 5%;
}

.banner_item {
  width: 24%;
  margin: -20px 0px;
  padding: 10px;
}

.banner_item:nth-child(5) {
  margin-left: -12%;
}

.banner_item:nth-child(9) {
  margin-right: -12%;
}

.banner_img {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .banner {
    padding: 100px 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .banner_item {
    margin: -5px 0px;
  }
}
