.banner {
    @include centering();

    padding: 245px 0 150px;
    text-align: center;
    z-index: 10;
    position: relative;

    &_title {
        @include font(42px, normal, $lato_bold);

        color: $grey3;
        text-transform: uppercase;
    }

    &_img_wrapper {
        @include line();

        display: inline-block;
        position: relative;
    }

    &_img {
        margin: 10px;
    }

    &_link {
        @include font(14px, 55px, $lato_bold);

        background: $red1;
        color: $white; 
        display: inline-block;
        padding: 0 50px;
        margin-top: 105px; 
        text-transform: uppercase;
    }
    
    &_wrapper {
        @include background("../img/background.png");

        position: relative;
        margin-top: -200px;

        &::after {
            @include position(absolute, 0, 0);

            content: "";
            width: 100%;
            height: 100%;
            background: $white;
            opacity: 0.8;
        }

    }
    @include respond-to(mobiles) {
        padding: auto 20px;

        &_wrapper {
            margin-top: -300px;
        }
    }
}
