.categories {
    @include centering();

    padding: 85px 0;

    &_list {
        @include flex(space-between, row, wrap, stretch);
    }

    &_item {
        @include width_calc(370px);

        text-align: center;
        border: 1px solid $grey6;
        margin-bottom: 30px;
        padding: 45px 0;

        &:nth-child(2n) {
            background: $white1;
        }

        &:hover {
            @include transition();

            box-shadow: 1px 1px 10px $grey2;
            border-radius: 6px;

            .categories_icon {
                color: $grey5;
            }
        }
    }

    &_icon {
        @include line(auto, 50%, $grey2);

        font-size: 65px;
        line-height: 65px;
        position: relative;
        color: $grey2
    }

    &_title {
        @include font(20px, 3, $exo_b);

        color: $grey1;

        text-transform: uppercase;
    }

    &_link {
        @include font(14px, 3, $lato_bold);

        background: $red1;
        color: $white;
        text-transform: uppercase;
        padding: 20px 40px;

        &:hover {
            @include transition();

            color: $grey6;
        }

        &_wrapper {
            text-align: center;
            margin: 10px 0 0;
        }
    }
    @include respond-to(mobiles) {
        padding: 0 20px;

        &_item {
            width: 100%;
        }

        &_link_wrapper {
            margin-bottom: 30px;
        }
    }
}
