.footer {
    @include font(12px, 2);

    padding: 25px 0;
    
    &_top {
        @include centering();
        @include flex();
        @include font(14px, 2);

        padding: 60px 0 105px;
        color: $grey1;
        position: relative;

        &_wrapper {
            background: $white1;
            border-top: 4px solid $red1;
        }

        &_up {
            @include position(absolute, 0, auto, 0);

            background: $red1;
            color: $white;
            width: 40px;
            line-height: 40px;
            font-size: 10px;
            text-align: center;
        }

        &_title{
            @include font(20px, 2, $exo_sb);
            @include line(100%, 0);

            position: relative;
            text-transform: uppercase;
            color: $grey1;
            
            &:after {
                transform: none;
            }
        }

        &_column {
            @include flex();

            width: 30%;
        }

        &_item {
            display: block;
            border-bottom: 1px solid $grey6;
        }

        &_link {
            @include font(14px, 3);

            text-transform: capitalize;
            color: $grey1;

            &:hover {
                @include transition();

                color: $red1;
            }

            &:before {
                font-size: 8px;
                margin-right: 5px;
                line-height: 8px;
            }
        }

        &_subcolumn {
            display: inline-block;
            width: 45%;
        }

        &_form_inp {
            width: 100%;
            padding: 20px;
            margin-bottom: 10px;
            border: 1px solid $grey2;
            opacity: 0.4;

            &::placeholder {
                @include font();
            }

            &:focus {
                opacity: 1;
            }
        }

        &_form_submit {
            @include font(14px, 3, $lato_bold);

            width: 100%;
            color: $white;
            background: $red1;
            text-transform: uppercase;
        }
    }

    &_paragraph, &_form_description {
        margin: 20px 0;
    }

    &_bottom {
        @include clearfix();
        @include centering();

        color: $grey2;

        &_wrapper {
            background: $grey1;
        }

       &_copyright {
            @include font(12px, 50px);

            float: left;
       }

       &_lab, &_inp {
           display: none;
           float: right;
           line-height: 50px;
           font-size: 30px;
       }
    }

    &_nav {
        float: right;

        &_link {
            @include font(12px, 50px);

            color: $grey2;

            &:hover {
                @include transition();

                color: $white;
            }
        }

        &_item {
            margin-left: 28px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    @include respond-to(mobiles) {
        &_top_wrapper{
            padding: 0 20px;
        }

        &_top {
            &_column {
                width: 100%;
                margin: 10px 0;
            }

            &_subcolumn {
                width: 100%;

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }

        &_bottom{
            position: relative;

            &_wrapper {
                padding: 0 20px;
            }

            &_lab{
                display: block;
            }
        }

        &_nav {
            display: none;
        }

        .footer_bottom_inp:checked ~.footer_nav {
            @include position(absolute, 100%);

            display: block;
            background: $grey1;
            width: 200%;
            margin: 0 -20px;
        }

        &_nav_item {
            display: block;
            
            &:first-child {
                margin-left: 28px;
            }
        }
    }
}