.gallery {
    @include centering();

    &_wrapper {
        background: $white1;
    }

    &_list {
        @include clearfix();

        width: 100%;
    }

    &_item {
        float: left;
        width: 25%;
        height: 230px;
        overflow: hidden;
        background-position: center center;
        position: relative;

        &:hover {
            .hover {
                @include transition();

                opacity: 1;
            }
        }
    }
    .hover {
        background: rgba(0, 0, 0, 0.7);
        color: $red1;
        height: 100%;
        opacity: 0;

        &_info {
            @include position(absolute, auto, 0 , auto, 0);

            background: $red1;
            width: 100%;
            text-align: center;
        }

        &_detail {
            @include font(14px, 3, $lato_bold);

            color: $white;
            width: 49%;
            display: inline-block;

            &:first-child {
                border-right: 1px solid $white; 
            }
        }
    }

    &_button {
        margin: 60px 0 85px;
    }

    .icon-anchor {
        font-size: 20px;
        text-align: center;
        display: block;
        line-height: 190px;
    }

    @include respond-to(mobiles) {
        padding: 0 20px;

        &_item {
            width: 50%;
        }
    }
}
