.header {
    
    &_top{
        @include centering();
        @include clearfix();

        padding: 12px 0;

        &_wrapper {
            background-color: $grey1;
            position: relative;
            z-index: 222222;
        }
    }

    &_addresses {
        float: right;

        &_link {
            @include font();

            color: $grey2;
            border-right: 1px solid $grey2;
            padding: 0 10px;

            &:hover {
                @include transition();

                color: $white;
            }

            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }

    .icon-phone, .icon-envelope {
        &::before {
            padding: 0 10px;
        }
    }

    &_bottom{
        @include centering();  
        @include clearfix(); 
        
        z-index: 100;
        position: relative;
        
        .logo {
            display: inline-block;
            padding: 20px 0;
            margin-right: 40px; 
        }
    }

    &_nav {
        display: inline-block;
        vertical-align: top;

        &_link {
            @include font();

            text-transform: uppercase;
            font-weight: bold;
            color: $grey1;

            &:hover {
                @include transition();

                color: $red1;
            }
            &:focus {
                color: $red1;
            }
        }

        &_item {
            margin: 0 30px;
            line-height: 85px;
            position: relative;
            z-index: 1000;

            &:hover .header_nav_submenu_first {
                @include position(absolute, 100%, 0);

                display: block;
            }
        }
        &_submenu {
            &_first {
                display: none;
            }

            &_second {
                display: none;
            }

            &_item{
                display: block;
                border-top: 1px solid $grey3;
                width: 235px;
                position: relative;

                &:first-child {
                    border-top: 2px solid $red1;
                }

                &:hover .header_nav_submenu_second {
                    @include position(absolute, -2px, 100%);

                    border-left: 1px solid $white;
                    display: block;
                }
            }

            &_link {
                @include font(14px, 50px);

                display: block;
                color: $white;
                text-transform: uppercase;
                background: $grey1;
                padding: 0 20px;
                widows: 100%;

                &:hover {
                    @include transition();

                    background: $red1;
                }
            }
        }
    }

    @include respond-to(mobiles) {

        &_addresses {
            &_text {
                display: none;
            }
        }

        .header_nav_item:hover .header_nav_submenu_first {
            position: static;
        }

        &_nav {
            display: block;
            

            &_link {
                @include font(10px);
            }

            &_item {
                @include font(8px, 12px);
    
                display: block;
                width: 50%;
                position: static;
            }

            
            &_submenu_first, &_submenu_second {
                width: 90%;
            }

            &_submenu{
                &_item {
                    width: 100%;
                }

                &_link {
                    @include font(8px, 3);
                }
            }
        }
    }

    @include respond-to(portrait){
        .user {
            display: none;
            text-align: center;

            &_label {
                @include font(12px, 3);
                @include border(1px, $grey4, 10px);

                display: block;
                float: right;
                background: $grey1;
                padding: 0 5px;
                color: $white1;
                margin: 10px;
                opacity: 0.6;
            }

            &_inp:checked + .user {
                @include position(absolute, 0);
                
                display: block;
                background: $white1;
                width: 100%;
            }
        }
    }
}