.statistic {
    @include centering();
    @include flex();

    z-index: 10;
    position: relative;
    padding: 20px 0;

    &_item {
        color: $white;
        text-align: center;
        padding: 45px;
    }

    &_number {
        @include line();
        @include font(40px, 2, $lato_bold);

        position: relative;
        
    }

    &_text {
        @include font(16px, 2, $lato_bold);

        text-transform: uppercase;
    }

    &_wrapper {
        @include background("../img/background.png");

        background-position: center, center;
        position: relative;
       
        &::after {
            @include position(absolute, 0, 0);

            content: "";
            width: 100%;
            height: 100%;
            background: $black;
            opacity: 0.9;
        }
    }
    @include respond-to(mobiles) {
        .statistic_item {
            width: 50%;
        }
    }
}