.testimonials {
    @include centering();

    padding: 85px 0;

    &_list {
        @include flex(space-between, row, wrap, stretch);
    }

    &_text {
        @include font(14px, 2);
        @include flex(space-between, column, nowrap, stretch);

        color: $grey4;
        background: $white1;
        padding: 40px 35px;
        position: relative;
        height: 70%;

        &:after {
            @include triangle(15px, $white1);

            content: "";
            display: block;
        }
    }

    &_rate {
        display: block;
        color: $grey2;
        margin-top: 15px;
    }

    &_item {
        @include width_calc(570px);
        @include flex(space-between, column, wrap, stretch);

        text-align: center;
    }

    &_user {
        @include font(14px, 5, $lato_bold);

        text-transform: uppercase;
        color: $grey1;
    }
    @include respond-to(mobiles) {
        padding: 0 20px;

        &_text {
            height: 380px;
        }
    }

    @include respond-to(portrait) {
        &_text {
            height: 475px;
            padding: 20px;
        }

        &_user {
            @include font(12px, 3);

            margin-top: 10px;
        }
    }
}
