.work {
    @include centering();

    padding: 65px 0;

    &_content {
        @include flex();
    }

    &_column {
        width: 570px;
        color: $grey1;

        &_item {
            @include clearfix();

            display: block;
        }

        &_list {
            margin-top: 55px;
        }

        &_title{
            @include font(20px, 2, $exo_sb);

            text-transform: uppercase;
        }

        &_subtitle {
            @include font(18px, 2 , $exo_sb);

            text-transform: uppercase;
        }

        &_text {
            @include font(14px, 2);
        }

        &_i {
            float: left;
            font-size: 50px;
            margin-right: 30px; 
            color: $grey2;
            line-height: 60px;
        }
    }

    &_video {
        width: 50%;
    }

    @include respond-to(mobiles) {
        padding: 0 20px;

        &_video {
            width: 100%;
        }
    }
}