.detail_content {
    @include centering();
    @include flex();

    &_wrapper {
        padding: 60px 0;
    }

    &_column {
        @include width_calc(570px);
    }

    &_title{
        @include font(20px, 100px, $exo_b);

        text-transform: uppercase;
        color: $grey1;
    }

    &_slide {
        height: 330px;
        width: 100%;
        overflow: hidden;
    }

    &_img {
        width: 100%;
    }

    &_item {
        @include font(14px, 2);

        display: block;
        color: $grey1;
        margin-bottom: 10px;

        &_title {
            @include font(18px, 1, $exo_sb);

            text-transform: uppercase;
        }
    }
    .slick-next {
        right: 20px;
        z-index: 100;
    }
    .slick-prev {
        left: 0px;
        z-index: 100;
    }
    .slick-next:before, .slick-prev:before {
        content: "";
    }

    @include respond-to(mobiles) {
        padding: 0 20px;

        &_column {
            width: 100%;
        }

        &_slide {
            height: 300px;
        }
    }

    @include respond-to(portrait) {
        &_slide {
            height: 175px;
        }
    }
}

.icon-right_chevron, .icon-left_chevron {
    color: $red1;
    font-size: 40px;
    line-height: 40px;
    display: inline-block;
} 

.slick-prev.slick-disabled i,
.slick-next.slick-disabled i {
    color: $grey1;
}

