.error_content {
    @include centering();

    text-align: center;

    &_img_wrapper {
        display: inline-block;
    }

    &_form {
        @include flex(center);
        @include width_calc(770px);
        
        margin: 0 auto;
    }

    &_search {
        @include width_calc(600px, 770px);

        height: 50px;
        border: 1px solid $grey2;
        margin-right: -3px;
        padding: 0 10px;

        &::placeholder {
            @include font();
        }
    }

    &_button {
        @include font(14px, 48px, $lato_bold);
        @include width_calc(170px, 770px);

        background: $red1;
        color: $white;
        text-transform: uppercase;
    }

    .block_title2 {
        line-height: 90px;
    }

    .block_description {
        line-height: 24px;
        width: 310px;
        margin: 0 auto 40px;
    }

    @include respond-to(mobiles) {
        padding: 0 20px;

        &_search {
            width: 100%;
            margin-bottom: 30px;
        }

        &_button {
            width: 50%;
        }
    }
}