.form {
    @include centering();
    @include flex();

    &_wrapper {
        padding: 60px 0;
    }

    &_title {
        @include font(20px, 3, $exo_b);

        color: $grey1;
        text-transform: uppercase;
        width: 100%;
    }

    &_inp {
        @include font(14px, 50px);

        width: 570px;
        border: 1px solid $grey6;
        padding: 0 20px;
        color: $grey2;
        margin-bottom: 30px;
    }

    &_sel {
        @include font(14px, 50px);

        width: 100%;
        border: 1px solid $grey6;
        padding: 0 20px;
        color: $grey2;
        margin-bottom: 30px;

        &_option {
            @include font(14px, 50px);

            color: $grey2;
            display: block;
        }
    }

    &_about {
        @include font(14px, 50px);

        color: $grey2;
        border: 1px solid $grey6;
        width: 100%;
        height: 290px;
        padding: 0 20px;
    }

    &_submit {
        @include font(14px, 50px, $lato_bold);

        background: $red1;
        color: $white;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 42px;
        margin: 40px 0;
    }

    @include respond-to(mobiles) {
        padding: 0 20px;
    }
}
select {
    height: 50px;
}