.gallery_container {
    padding: 60px 0;
}
.gallery_first {
    @include centering();

    &_item {
        width: 370px;; 
        height: 220px;
        background-position: center center; 
        float: left;
        margin: 0 30px 30px 0; 
        position: relative;

        &:hover {
            .icon-checked {
                @include transition();

                opacity: 1;
            }

            &:after {
                @include position(absolute, 0, 0);
                @include transition();

                content: "";
                background: $black;
                opacity: 0.7;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    &_list {
        @include clearfix();

        width: 110%;
        display: block;
        overflow: hidden;
    }

    @include respond-to(mobiles) {
        &_item {
            width: 45%;
        }
    }

    @include respond-to(portrait) {
        &_item {
            width: 100%;
        }
    }
}
.gallery_second {
    @include centering();

    &_wrapper {
        background: $white1;

        @include respond-to(mobiles) {
            padding: 0 20px;
        }
    }

    &_list {
        @include flex();
    }

    &_item {
        @include width_calc(370px);

        height: 220px;
        background-position: center center; 
        margin-bottom: 30px; 
        position: relative;

        &:hover {
            .icon-checked {
                @include transition();

                opacity: 1;
            }

            &:after {
                @include position(absolute, 0, 0);
                @include transition();

                content: "";
                background: $black;
                opacity: 0.7;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    @include respond-to(mobiles) {
        &_item {
            width: 45%;
        }
    }

    @include respond-to(portrait) {
        &_item {
            width: 100%;
        }
    }
}

.gallery_third {
    @include centering();

    &_list {
        text-align: justify;
        width: 100%;

        &:after {
            content: "";
            display: inline-block;
            width: 100%
        }
    }

    &_item {
        @include width_calc(370px);

        height: 220px;
        background-position: center center; 
        margin-bottom: 30px; 
        position: relative;

        &:hover {
            .icon-checked {
                @include transition();

                opacity: 1;
            }

            &:after {
                @include position(absolute, 0, 0);
                @include transition();

                content: "";
                background: $black;
                opacity: 0.7;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }  
    
    @include respond-to(mobiles) {
        padding: 0 20px;

        &_item {
            width: 45%;
        }
    }

    @include respond-to(portrait) {
        &_item {
            width: 100%;
        }
    }
}


.gallery_description {
    @include font(14px,2);

    margin-bottom: 40px;
}

.gallery_name{
    @include font(20px, 2, $exo_b);

    color: $grey1;
    text-transform: uppercase;
    padding-top: 80px;
}

.icon-checked {
    @include position(absolute, auto, 10px , auto, 0);

    opacity: 0;
    color: $white;
    font-size: 30px;
    line-height: 30px;
    z-index: 1000;
}

.gallery_button {
    @include font(14px, 50px, $lato_bold);

    background: $red1;
    color: $white;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 50px;

    &_wrapper {
        text-align: center;
    }
}