@charset "UTF-8";
@font-face {
  font-family: 'CrimsonText-Regular';
  src: url("../../fonts/Crimson_Text/CrimsonText-Regular.eot");
  src: url("../../fonts/Crimson_Text/CrimsonText-Regular.woff2") format("woff2"), url("../../fonts/Crimson_Text/CrimsonText-Regular.woff") format("woff"), url("../../fonts/Crimson_Text/CrimsonText-Regular.ttf") format("truetype"), url("../../fonts/Crimson_Text/CrimsonText-Regular.svg#CrimsonText-Regular") format("svg"), url("../../fonts/Crimson_Text/CrimsonText-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText-Italic';
  src: url("../fonts/Crimson_Text/CrimsonText-Italic.eot");
  src: url("../fonts/Crimson_Text/CrimsonText-Italic.woff2") format("woff2"), url("../fonts/Crimson_Text/CrimsonText-Italic.woff") format("woff"), url("../fonts/Crimson_Text/CrimsonText-Italic.ttf") format("truetype"), url("../fonts/Crimson_Text/CrimsonText-Italic.svg#CrimsonText-Italic") format("svg"), url("../fonts/Crimson_Text/CrimsonText-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg"), url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Black.svg#Montserrat-Black") format("svg"), url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-decoration: none;
  color: #343e5c;
}

img {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  outline: none;
  border: 0;
  margin: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

input[type="checkbox"], input[type="radio"] {
  height: 20px;
  width: 20px;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-arrow_left:before, .icon-arrow_right:before, .icon-burger:before, .icon-cart:before, .icon-checked:before, .icon-dot:before, .icon-dribbble:before, .icon-facebook:before, .icon-google:before, .icon-google_plus:before, .icon-keyboard_arrow_left:before, .icon-keyboard_arrow_right:before, .icon-left_arro:before, .icon-linkedin:before, .icon-location:before, .icon-mail:before, .icon-phone:before, .icon-pinterest:before, .icon-right:before, .icon-search:before, .icon-tick:before, .icon-twitter:before {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-arrow_left:before {
  content: "";
}

.icon-arrow_right:before {
  content: "";
}

.icon-burger:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-checked:before {
  content: "";
}

.icon-dot:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-google_plus:before {
  content: "";
}

.icon-keyboard_arrow_left:before {
  content: "";
}

.icon-keyboard_arrow_right:before {
  content: "";
}

.icon-left_arro:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-tick:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.social_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.social_item:last-child {
  margin-right: 0;
}

.social_link {
  line-height: 1;
  display: block;
  font-size: 14px;
  margin-top: -8px;
}

.footer .social {
  float: right;
}

.footer .social_link {
  color: #ffffff;
}

.social .icon-facebook:hover {
  transition: all 0.5s ease;
  color: #4267b2;
}

.social .icon-twitter:hover {
  transition: all 0.5s ease;
  color: #38A1F3;
}

.social .icon-google_plus:hover {
  transition: all 0.5s ease;
  color: #DD4B39;
}

.header {
  position: relative;
  /* &_inp, &_addition_info {
        display: none;
    }*/
}

.header:after {
  position: absolute;
  top: 90px;
  left: 0;
  right: auto;
  bottom: auto;
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #f0f2f7;
}

.header_top {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  height: 90px;
}

.header_bottom {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header_bottom::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.header_bottom_nav {
  float: left;
}

.header_bottom_nav_link {
  text-transform: uppercase;
  font-weight: bold;
  color: #b9bed1;
}

.header_bottom_nav_link:hover {
  transition: all 0.5s ease;
  color: #222328;
}

.header_bottom_nav_item {
  margin-left: 30px;
  line-height: 60px;
}

.header_bottom_nav_item:first-child {
  margin-left: 0;
}

.header_bottom_support {
  float: right;
}

.header_bottom_support_input {
  padding-right: 10px;
}

.header_bottom_support_link {
  text-transform: uppercase;
  line-height: 60px;
  margin-right: 30px;
  color: #c2c6d7;
  font-weight: bold;
}

.header_bottom_support_lab {
  padding: 0 15px;
  font-size: 15px;
}

.header_bottom_support_search {
  display: inline-block;
  line-height: 60px;
  border-left: 1px solid #f0f2f7;
  border-right: 1px solid #f0f2f7;
}

.header_nav_item {
  margin-left: 30px;
}

.header_nav_item:first-child {
  margin-left: 0;
}

.header_nav_link {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
}

.header_nav_link:hover {
  transition: all 0.5s ease;
  color: #000000;
}

.header_block {
  display: inline-flex;
}

.header_logo {
  display: inline-flex;
}

.header_logo_link {
  width: 92px;
  height: 25px;
  background: url("../img/logo_sprite.png") 0px 0px;
  display: block;
}

.header_lab {
  font-size: 25px;
  padding: 25px;
  border-right: 1px solid #f0f2f7;
}

.header .cart_link {
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
}

.header .cart_count {
  background: #f0f2f7;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-left: 10px;
}

.header .signing_link {
  border: 2px solid #f0f2f7;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.header .signing_link:hover {
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0.1);
}

.header .icon-cart:before {
  margin-right: 10px;
}

.footer {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Montserrat-Regular";
  font-style: normal;
  background: #222328;
  padding: 25px 0;
}

.footer::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.footer_top {
  border-bottom: 1px solid #2d2e33;
}

.footer_top, .footer_bottom {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 150px;
  align-items: center;
}

.footer_logo_link {
  width: 92px;
  height: 25px;
  background: url("../img/logo_sprite.png") 0px 25px;
  display: block;
}

.footer_nav_item {
  margin-left: 30px;
}

.footer_nav_item:first-child {
  margin-left: 0;
}

.footer_nav_link {
  font-size: 1.2rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.footer_nav_link:hover {
  text-decoration: underline;
}

.footer_bottom {
  padding: 0 15px;
}

.footer_bottom_link {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #545559;
  text-transform: uppercase;
}

.footer_bottom_link:hover {
  transition: all 0.5s ease;
  color: #ffffff;
}

.footer_bottom_item {
  margin-left: 30px;
}

.footer_bottom_item:first-child {
  margin-left: 0;
}

.footer_bottom_text {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "CrimsonText-Italic";
  font-style: normal;
  width: 513px;
  color: #545559;
}

.banner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 100px;
}

.banner .slick-dots {
  bottom: 30px;
}

.banner .slick-dots li {
  margin: 0 2px;
}

.banner .slick-dots li button:before {
  content: "";
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.banner .slick-dots li.slick-active button:before {
  background: #ffffff;
}

.banner_slide {
  position: relative;
}

.banner_slide_title {
  font-size: 4.2rem;
  line-height: normal;
  font-family: "Montserrat-Black";
  font-style: normal;
  color: #ffffff;
}

.banner_slide_text {
  padding: 105px 0 140px;
  width: 465px;
}

.banner_slide_info {
  font-size: 1.6rem;
  line-height: normal;
  font-family: "CrimsonText-Regular";
  font-style: normal;
  color: #ffffff;
}

.banner_slide_img {
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  bottom: auto;
  transform: translate(0, -50%);
}

.banner_slide_img_wrapper {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
  width: 300px;
  height: 100%;
}

.banner_slide_link {
  font-size: 1.1rem;
  line-height: 42px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  background: #2754eb;
  color: #ffffff;
  border-radius: 25px;
  display: inline-block;
  padding: 0 50px;
  margin-top: 70px;
}

.banner_wrapper {
  background: #1c1e23;
}

.banner_wrapper .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.banner .slick-next:before, .banner .slick-prev:before {
  content: "";
}

.banner .icon-arrow_right, .banner .icon-arrow_left {
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: inline-block;
}

.banner .icon-arrow_right:hover, .banner .icon-arrow_left:hover {
  opacity: .7;
}

.banner .slick-prev.slick-disabled i,
.banner .slick-next.slick-disabled i {
  border-color: transparent;
  font-size: 0;
}

.testimonials {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 0 90px;
}

.testimonials_title {
  font-size: 3.2rem;
  line-height: normal;
  font-family: "Montserrat-Black";
  font-style: normal;
  color: #222328;
  text-align: center;
}

.testimonials_description {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "CrimsonText-Italic";
  font-style: normal;
  color: #c2c6d7;
  text-align: center;
  margin-bottom: 55px;
}

.testimonials_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.testimonials_item {
  width: 250px;
}

.testimonials_person::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.testimonials_img, .testimonials_speciality {
  float: left;
}

.testimonials_img {
  margin-right: 30px;
}

.testimonials_photo {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #222328;
  float: left;
  width: 65%;
}

.testimonials_speciality {
  font-size: 1.4rem;
  line-height: 3;
  font-family: "CrimsonText-Italic";
  font-style: normal;
  color: #c2c6d7;
}

.testimonials_text {
  font-size: 1.4rem;
  line-height: 24px;
  font-family: "CrimsonText-Regular";
  font-style: normal;
  color: #222328;
}

.product {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product_wrapper {
  background: #e4e5e7;
}

.product .pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background: #ffffff;
  margin-top: 30px;
  border-radius: 5px;
}

.product .pagination_item {
  padding: 20px 0;
}

.product .pagination_item_arrowl {
  display: inline-block;
  border-right: 1px solid #f0f2f7;
  padding: 20px 98px;
}

.product .pagination_item_arrowr {
  display: inline-block;
  border-left: 1px solid #f0f2f7;
  padding: 20px 98px;
}

.product .pagination_link {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #222328;
  padding: 0 21px;
  display: inline-block;
  border-radius: 50%;
  font-weight: bold;
}

.product .pagination_link:hover {
  border-radius: 50%;
  box-shadow: 1px 20px 30px #e4e5e7;
}

.sidebar {
  width: 23%;
}

.sidebar .radio {
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  vertical-align: middle;
}

.sidebar_section {
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 8px;
  position: relative;
}

.sidebar_section_link {
  position: absolute;
  top: 15px;
  left: auto;
  right: 15px;
  bottom: auto;
  font-size: 1.1rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-decoration: underline;
  color: #2754eb;
  font-weight: bold;
}

.sidebar_section_title {
  font-size: 1.1rem;
  line-height: 50px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f2f7;
  border-top: 1px solid #f0f2f7;
  padding: 0 20px;
  margin-top: -1px;
}

.sidebar_section_radio {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  width: 49%;
  display: inline-block;
  border-right: 1px solid #f0f2f7;
  font-weight: bold;
}

.sidebar_section_radio:last-child {
  border-right: none;
}

.sidebar_lab {
  font-size: 1.3rem;
  line-height: 42px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  border-bottom: 1px solid #f0f2f7;
  display: block;
  font-weight: bold;
  color: #222328;
  padding: 0 20px;
}

.sidebar_lab::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.sidebar_lab i {
  float: right;
}

.sidebar_lab_check {
  font-size: 1.3rem;
  line-height: 42px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  padding: 0 20px;
  font-weight: bold;
  color: #222328;
  vertical-align: middle;
}

.sidebar .inp_check {
  vertical-align: middle;
}

.sidebar_section_item {
  padding: 0 15px;
}

.sidebar_section_item::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.sidebar_section_item .count {
  font-size: 1.3rem;
  line-height: 42px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  float: right;
}

.sidebar_inp {
  display: none;
}

.sidebar_submenu {
  display: none;
  text-transform: uppercase;
  background: #f0f2f7;
}

.sidebar_submenu .submenu_item, .sidebar_submenu .submenu_link {
  font-size: 1.3rem;
  line-height: 42px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #c2c6d7;
  border-bottom: 1px solid #c2c6d7;
  display: block;
  text-transform: uppercase;
  padding: 0 10px;
}

.sidebar .sidebar_inp:checked ~ .sidebar_submenu {
  display: block;
}

.sidebar .sidebar_inp:checked + label > i {
  transform: rotate(90deg);
}

.sidebar .icon-checked, .sidebar .icon-dot {
  display: none;
}

.sidebar .icon-dot {
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #c2c6d7;
  border-radius: 50%;
  text-align: center;
  margin: 10px;
  vertical-align: middle;
}

.sidebar .icon-checked {
  font-size: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 3px;
  vertical-align: middle;
}

.sidebar .inp_check:checked + i {
  display: inline-block;
  color: #00e2aa;
}

.sidebar .inp_check:checked {
  display: none;
}

.content {
  width: 75%;
}

.content_products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content_product {
  font-size: 1.6rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #222328;
}

.content_item {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 5px;
}

.content .main {
  width: 65%;
  background: white;
  position: relative;
}

.content .main .content_img {
  width: 100%;
}

.content .main .content_description {
  position: unset;
  align-items: flex-start;
  height: 65px;
}

.content .main .content_price {
  position: absolute;
  top: 10px;
  left: 10px;
  right: auto;
  bottom: auto;
  color: #ffffff;
  background: #000000;
  border-radius: 8px;
  line-height: 2;
  padding: 0 10px;
}

.content .main_link {
  position: absolute;
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  border: 2px solid #f0f2f7;
  border-radius: 25px;
}

.content .main_link_feature {
  border-right: 2px solid #f0f2f7;
}

.content .main_link:hover {
  transition: all 0.5s ease;
  background: #c2c6d7;
}

.content .main_link span {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
  padding: 10px 40px;
  display: inline-block;
  color: #222328;
}

.content .special {
  display: inline;
}

.content .special .content_description {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
}

.content .special .content_price {
  color: #605f5e;
}

.content_description {
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 145px;
  padding: 0 30px;
}

.content_color {
  font-size: 1.2rem;
  line-height: 3;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #c2c6d7;
  text-transform: uppercase;
}

.content_price {
  font-size: 1.4rem;
  line-height: 3;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #222328;
  font-weight: bold;
}

.sortbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background: #ffffff;
  margin: 30px 0;
  border-radius: 5px;
}

.sortbar_select {
  font-size: 1.1rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-transform: uppercase;
  color: #c2c6d7;
}

.sortbar_inp {
  font-size: 1.3rem;
  line-height: 2;
  font-family: "Montserrat-Regular";
  font-style: normal;
  border-radius: 20px;
  padding: 0 10px;
  background: #f0f2f7;
  width: 65px;
}

.sortbar_inp_t {
  font-size: 1.3rem;
  line-height: 2;
  font-family: "Montserrat-Regular";
  font-style: normal;
  border-radius: 20px;
  padding: 0 10px;
  background: #f0f2f7;
  color: #c2c6d7;
}

.sortbar_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  padding: 25px 15px;
  border-right: 1px solid #f0f2f7;
  align-items: center;
}

.sortbar_section:last-child {
  border: none;
  width: 19%;
}

.sortbar_section:first-child {
  width: 19%;
}

.sortbar_lab {
  font-size: 1.1rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-transform: uppercase;
  color: #c2c6d7;
}

.sortbar .icon-tick {
  display: none;
}

.sortbar .sortbar_radio:checked {
  display: none;
}

.sortbar .sortbar_radio:checked + i {
  display: inline-block;
  color: #00e2aa;
  font-size: 20px;
  width: 20px;
  line-height: 20px;
}

.best {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  background: #ffffff;
  text-align: center;
  margin: 50px 0;
  border-radius: 5px;
}

.best_title {
  font-size: 1.2rem;
  line-height: 55px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #f2f2f2;
  font-weight: bold;
}

.best_list {
  width: 100%;
}

.best_list::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.best_item {
  float: left;
  width: 25%;
  border-right: 1px solid #f2f2f2;
  padding-bottom: 40px;
}

.best_item:last-child {
  border-right: 0px;
}

.best_img_wrapper {
  height: 230px;
  overflow: hidden;
  position: relative;
}

.best_img {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}

.best_product {
  font-size: 1.6rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: bold;
}

.best_color {
  font-size: 1.1rem;
  line-height: 4;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #c2c6d7;
  text-transform: uppercase;
}

.best_price {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Montserrat-Regular";
  font-style: normal;
  color: #222328;
  font-weight: bold;
}

.best_former_price {
  color: #c2c6d7;
  text-decoration: line-through;
  margin-right: 20px;
}
