@font-face {
	font-family: "myfont";
	src: url('../fonts/iconsfont/myfont.eot');
	src: url('../fonts/iconsfont/myfont.eot?#iefix') format('eot'),
		url('../fonts/iconsfont/myfont.woff2') format('woff2'),
		url('../fonts/iconsfont/myfont.woff') format('woff'),
		url('../fonts/iconsfont/myfont.ttf') format('truetype'),
		url('../fonts/iconsfont/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == burger {
		$char: "\E001";
	}
	@if $filename == camera {
		$char: "\E002";
	}
	@if $filename == coffee {
		$char: "\E003";
	}
	@if $filename == dribbble {
		$char: "\E004";
	}
	@if $filename == facebook {
		$char: "\E005";
	}
	@if $filename == fax {
		$char: "\E006";
	}
	@if $filename == frame {
		$char: "\E007";
	}
	@if $filename == google {
		$char: "\E008";
	}
	@if $filename == google_plus {
		$char: "\E009";
	}
	@if $filename == linkedin {
		$char: "\E00A";
	}
	@if $filename == pinterest {
		$char: "\E00B";
	}
	@if $filename == twitter {
		$char: "\E00C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-burger {
	@include icon(burger);
}
.icon-camera {
	@include icon(camera);
}
.icon-coffee {
	@include icon(coffee);
}
.icon-dribbble {
	@include icon(dribbble);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-fax {
	@include icon(fax);
}
.icon-frame {
	@include icon(frame);
}
.icon-google {
	@include icon(google);
}
.icon-google_plus {
	@include icon(google_plus);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-twitter {
	@include icon(twitter);
}