@font-face {
	font-family: "myfont";
	src: url('../fonts/iconsfont/myfont.eot');
	src: url('../fonts/iconsfont/myfont.eot?#iefix') format('eot'),
		url('../fonts/iconsfont/myfont.woff2') format('woff2'),
		url('../fonts/iconsfont/myfont.woff') format('woff'),
		url('../fonts/iconsfont/myfont.ttf') format('truetype'),
		url('../fonts/iconsfont/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow_left {
		$char: "\E001";
	}
	@if $filename == arrow_right {
		$char: "\E002";
	}
	@if $filename == dribbble {
		$char: "\E003";
	}
	@if $filename == facebook {
		$char: "\E004";
	}
	@if $filename == google {
		$char: "\E005";
	}
	@if $filename == ic1 {
		$char: "\E006";
	}
	@if $filename == ic2 {
		$char: "\E007";
	}
	@if $filename == ic3 {
		$char: "\E008";
	}
	@if $filename == ic4 {
		$char: "\E009";
	}
	@if $filename == ic5 {
		$char: "\E00A";
	}
	@if $filename == ic6 {
		$char: "\E00B";
	}
	@if $filename == lab {
		$char: "\E00C";
	}
	@if $filename == linkedin {
		$char: "\E00D";
	}
	@if $filename == location {
		$char: "\E00E";
	}
	@if $filename == logo {
		$char: "\E00F";
	}
	@if $filename == mail {
		$char: "\E010";
	}
	@if $filename == phone {
		$char: "\E011";
	}
	@if $filename == pinterest {
		$char: "\E012";
	}
	@if $filename == twitter {
		$char: "\E013";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow_left {
	@include icon(arrow_left);
}
.icon-arrow_right {
	@include icon(arrow_right);
}
.icon-dribbble {
	@include icon(dribbble);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-google {
	@include icon(google);
}
.icon-ic1 {
	@include icon(ic1);
}
.icon-ic2 {
	@include icon(ic2);
}
.icon-ic3 {
	@include icon(ic3);
}
.icon-ic4 {
	@include icon(ic4);
}
.icon-ic5 {
	@include icon(ic5);
}
.icon-ic6 {
	@include icon(ic6);
}
.icon-lab {
	@include icon(lab);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-location {
	@include icon(location);
}
.icon-logo {
	@include icon(logo);
}
.icon-mail {
	@include icon(mail);
}
.icon-phone {
	@include icon(phone);
}
.icon-pinterest {
	@include icon(pinterest);
}
.icon-twitter {
	@include icon(twitter);
}