@font-face {
	font-family: "myfont";
	src: url('../fonts/iconsfont/myfont.eot');
	src: url('../fonts/iconsfont/myfont.eot?#iefix') format('eot'),
		url('../fonts/iconsfont/myfont.woff2') format('woff2'),
		url('../fonts/iconsfont/myfont.woff') format('woff'),
		url('../fonts/iconsfont/myfont.ttf') format('truetype'),
		url('../fonts/iconsfont/myfont.svg#myfont') format('svg');
}

@mixin icon-styles {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == external {
		$char: "\E001";
	}
	@if $filename == gallery {
		$char: "\E002";
	}
	@if $filename == headphones {
		$char: "\E003";
	}
	@if $filename == story {
		$char: "\E004";
	}
	@if $filename == television {
		$char: "\E005";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-external {
	@include icon(external);
}
.icon-gallery {
	@include icon(gallery);
}
.icon-headphones {
	@include icon(headphones);
}
.icon-story {
	@include icon(story);
}
.icon-television {
	@include icon(television);
}