@charset "UTF-8";
.footer::after, .portfolio::after, .default::after, .twitter::after, .contact_form::after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}

body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype"), url("../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.header .logo {
  padding: 65px 0;
}

.header_wrapper {
  background: rgba(0, 0, 0, 0.5);
}

.header .nav_inp {
  display: none;
}

.header .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header .nav_lab {
  background: #4bcaff;
  padding: 10px;
  display: none;
}

.header .nav_lab .line {
  width: 30px;
  height: 5px;
  display: block;
  background: #ffffff;
  margin-bottom: 3px;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .header .nav_lab {
    display: block !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .header .nav {
    position: absolute;
    top: 100%;
    left: -200%;
    right: auto;
    bottom: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .header .nav_inp:checked + .nav_lab + .nav {
    transition: all 0.5s ease;
    left: 0;
    background: #515f67;
    width: 100%;
  }
  .header .nav_inp:checked + .nav_lab + .nav .nav_item {
    display: block;
    width: 100%;
  }
  .header .nav_inp:checked + .nav_lab + .nav .nav_item:first-child {
    padding-left: 4.2735%;
  }
}

.header .nav_item {
  padding-left: 4.2735%;
}

.header .nav_item:first-child {
  padding-left: 0;
}

.header .nav_item:last-child {
  margin-right: -21px;
}

.header .nav_link {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  color: #edeeef;
  padding: 12px 20px;
  display: block;
}

.header .nav_link:hover {
  border: 1px solid #4bcaff;
  border-radius: 0px;
  transition: all 0.5s ease;
  color: #4bcaff;
  margin: -1px;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .header {
    padding: 0 20px;
    position: relative;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .header {
    padding-left: 1.7%;
    padding-right: 1.7%;
  }
}

.footer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.footer_wrapper {
  background: #353f46;
  margin-top: -1px;
}

.footer .nav {
  float: left;
}

.footer .nav_item {
  border-left: 1px solid #515f67;
  padding: 3px 15px;
}

.footer .nav_item:first-child {
  border-left: none;
  padding: 3px 15px 3px 0;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .footer .nav_item {
    display: block;
    border: none;
    padding: 0;
  }
}

.footer .nav_link {
  font-size: 1.2rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  color: #515f67;
  text-transform: uppercase;
}

.footer .nav_link:hover {
  transition: all 0.5s ease;
  color: #ffffff;
}

.footer_date {
  font-size: 1.2rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  float: right;
  color: #515f67;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.banner {
  background: url("../img/banner_bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  padding: 400px 0 255px;
  margin-top: -165px;
  z-index: -1;
  position: relative;
}

.banner_info {
  font-size: 4.2rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
}

.banner_info_wrapper {
  margin-bottom: 15px;
}

.services {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.services_wrapper {
  background: #4bcaff;
}

.services_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.services_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #ffffff;
}

.services_item {
  font-size: 1.2rem;
  line-height: normal;
  font-family: "SegoeUI-SemiBold";
  font-style: normal;
  width: 24%;
  color: #ffffff;
}

.services_item_name {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-SemiBold";
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.services_img {
  font-size: 80px;
  line-height: 80px;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .services {
    padding-left: 20px;
    padding-right: 20px;
  }
  .services_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
  }
  .services_img {
    width: 10%;
  }
  .services_text {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .services {
    padding-left: 20px;
    padding-right: 20px;
  }
  .services_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .services_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 50px;
  }
}

.portfolio {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.portfolio_wrapper {
  background: #ffffff;
}

.portfolio_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #515f67;
  margin-bottom: 40px;
}

.portfolio_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #515f67;
}

.portfolio .filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 35px;
}

.portfolio .filter_item {
  padding-left: 4.2735%;
}

.portfolio .filter_item:first-child {
  padding-left: 0;
}

.portfolio .filter_item:last-child {
  margin-right: -21px;
}

.portfolio .filter_link {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  color: #515f67;
  padding: 12px 20px;
}

.portfolio .filter_link:hover {
  border: 1px solid #4bcaff;
  border-radius: 0px;
  transition: all 0.5s ease;
  color: #4bcaff;
  margin: -1px;
}

.portfolio .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.portfolio .gallery_item {
  margin-bottom: 30px;
  position: relative;
}

.portfolio .gallery_item:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  transition: all 0.5s ease;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .gallery_item:hover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  font-size: 7.2rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  transition: all 0.5s ease;
  content: "+";
  display: block;
  color: #ffffff;
  z-index: 11;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .portfolio {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .portfolio .filter {
    width: 100%;
    display: block;
  }
  .portfolio .filter_item {
    width: 20%;
    padding-left: 0;
    display: block;
  }
  .portfolio .gallery_item,
  .portfolio .gallery_img {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .portfolio {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio .gallery {
    justify-content: space-evenly;
  }
  .portfolio .gallery_item {
    width: 30%;
  }
  .portfolio .gallery_img {
    width: 100%;
  }
}

.default {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.default_wrapper {
  background: #515f67;
}

.default_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.default_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #ffffff;
}

.default .video_wrapper {
  float: right;
  width: 45%;
  margin-top: -100px;
  position: relative;
}

.default .video_wrapper video {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .default .video_wrapper {
    float: none;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .default .video_wrapper {
    float: none;
    width: 100%;
  }
}

.default_text {
  font-size: 1.4rem;
  line-height: 24px;
  font-family: "SegoeUI";
  font-style: normal;
  width: 45%;
  display: inline-block;
  color: #ffffff;
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .default_text {
    width: 100%;
    margin-bottom: 110px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .default_text {
    width: 100%;
    margin-bottom: 110px;
  }
}

.default_link {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "SegoeUI";
  font-style: normal;
  border: 1px solid #353f46;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 35px;
  display: inline-block;
  color: #353f46;
}

.default_link:hover {
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.5);
}

.default .controls {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  z-index: 100;
  padding: 10px;
}

.default .play {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 5%;
  border-radius: 5px;
  color: #ffffff;
}

.default .hd {
  font-size: 1.4rem;
  line-height: 10px;
  font-family: "SegoeUI";
  font-style: italic;
  color: #4bcaff;
  font-weight: bold;
}

.default .buffered {
  height: 99%;
  width: 60%;
  background: #626f76;
  display: block;
}

.default .current {
  height: 99%;
  width: 30%;
  background: #4bcaff;
  display: block;
}

.default .progress {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 83%;
  padding: 10px;
}

.default .progress .total {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  width: 80%;
  height: 10px;
}

.default .progress .volume_line {
  width: 5px;
  height: 10px;
  background: #4bcaff;
  display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .default {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .default {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.twitter {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.twitter_wrapper {
  background: #4bcaff;
}

.twitter_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
  display: inline-block;
}

.twitter_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #ffffff;
}

.twitter_text {
  font-size: 2.8rem;
  line-height: 2;
  font-family: "SegoeUI";
  font-style: normal;
  color: #ffffff;
}

.twitter_link {
  font-size: 2.8rem;
  line-height: 2;
  font-family: "SegoeUI-SemiBold";
  font-style: normal;
  color: #ffffff;
}

.twitter_link:hover {
  transition: all 0.5s ease;
  text-decoration: underline;
  color: #edeeef;
}

.twitter_icon {
  float: right;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .twitter {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .twitter {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.biography {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.biography_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.biography_wrapper {
  background: url("../img/photograph.png") no-repeat;
  background-size: cover;
}

.biography_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.biography_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #ffffff;
}

.biography_text {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  vertical-align: top;
  display: inline-block;
  color: #ffffff;
  width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .biography_text {
    width: 100%;
  }
}

.biography .social {
  width: 50%;
}

.biography .social_item {
  border: 1px solid #ffffff;
  border-radius: 0px;
  position: relative;
  width: 65px;
  height: 65px;
  margin-right: 20px;
}

.biography .social_item:last-child {
  margin-right: 0;
}

.biography .social_item:hover {
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.5);
}

.biography .social_img {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .biography .social {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .biography {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .biography {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .biography .social_item {
    width: 18%;
  }
}

.testimonials {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.testimonials_wrapper {
  background: #ffffff;
}

.testimonials_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #515f67;
  margin-bottom: 40px;
  position: relative;
}

.testimonials_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #515f67;
}

.testimonials_title::before {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  background: url("../img/lapki.png") no-repeat;
  background-size: cover;
  content: "";
  display: block;
  width: 30px;
  height: 23px;
}

.testimonials_text {
  font-size: 2.8rem;
  line-height: 2;
  font-family: "SegoeUI";
  font-style: normal;
  color: #515f67;
}

.testimonials_author {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "SegoeUI";
  font-style: normal;
  color: #4bcaff;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .testimonials {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .testimonials {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contact {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.contact_wrapper {
  background: url("../img/form_bg.png") no-repeat;
  background-size: cover;
}

.contact_title {
  font-size: 2.4rem;
  line-height: normal;
  font-family: "SegoeUI-Light";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
  width: 100%;
}

.contact_title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #ffffff;
}

.contact_name, .contact_email {
  margin-bottom: 50px;
}

.contact_lab {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  width: 100%;
  clear: both;
}

.contact_inp, .contact_message {
  border: 1px solid #ffffff;
  border-radius: 0px;
  font-size: 1.4rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  background: transparent;
  padding: 5px 10px;
  color: #ffffff;
}

.contact_inp {
  width: 100%;
  height: 55px;
  display: block;
}

.contact_message {
  width: 100%;
}

.contact_text {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "SegoeUI";
  font-style: normal;
  color: #ffffff;
  width: 45%;
  float: right;
}

.contact_inputs {
  width: 45%;
  float: left;
}

.contact_submit {
  background: #4bcaff;
  padding: 25px 155px;
  display: block;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0;
}

.contact_submit:hover {
  transition: all 0.5s ease;
  cursor: pointer;
  color: #000000;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .contact_submit {
    width: 50%;
    padding: 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact_submit {
    width: 50%;
    padding: 10px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .contact {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact_inputs, .contact_text {
    width: 100%;
    float: none;
  }
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-burger:before, .icon-camera:before, .icon-coffee:before, .icon-dribbble:before, .icon-facebook:before, .icon-fax:before, .icon-frame:before, .icon-google:before, .icon-google_plus:before, .icon-linkedin:before, .icon-pinterest:before, .icon-twitter:before {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-burger:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-coffee:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-fax:before {
  content: "";
}

.icon-frame:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-google_plus:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}
