.banner {
    @extend %line_left;
    @extend %line_right;

    padding: 100px;
    position: relative;
    
    &_list {
        @include flex();

        margin: 0 5%;
    }

    &_item {
        width: 24%;
        margin: -20px 0px;
        padding: 10px;

        &:nth-child(5) {
            margin-left: -12%;
        }
        &:nth-child(9) {
            margin-right: -12%;
        }
    }

    &_img {
        @include clip();
        
        width: 100%;
    }

    @include respond-to(mobiles) {
        padding: 100px 30px;
    }

    @include respond-to(portrait) {
        &_item {
            margin: -5px 0px;
        }
    }
}