.biography {
    @include centering();
    @include clearfix();

    &_wrapper {
        background: $green_1;
        padding: 67px 0;
    }

    &_title {
        @include font(30px);

        color: $green_light;
    }

    &_subtitle {
        @include font(18px);

        color: $green;
        margin-bottom: 25px;
    }
    &_text {
        @include font(12px, 2, $lato);

        color: $green_light;
    }
    &_image {
        @include clip();
    }

    &_info {
        @include width_calc(585, 785);

        float: right;
    }

    &_img {
        @include width_calc(182, 785);

        float: left;
    }

    .social {
        float: right;
    }

    @include respond-to(mobiles) {
        padding: 0 20px;
    }
}