.contact {
    @include centering();
    @include clearfix();

    color: $grey_3;

    &_wrapper {
        background: $black_1;
        padding: 65px 0;
    }

    &_form {
        float: left;
        width: 580px;
    }

    &_title {
        @include font(30px, normal, $maven);
    }

    &_subtitle {
        @include font(18px, normal, $maven);

        margin-bottom: 25px;
    }

    &_info {
        @include font(12px, 2, $lato);

        float: right;
        width: 190px;
    }

    &_text {
        margin-bottom: 45px;
    }

    &_input,
    &_message {
        @include font(12px, 40px, $lato);

        background: $grey_1;
        margin-bottom: 16px;
        padding: 0 16px;
        color: $grey_3;
        
        &::placeholder {
            @include font(12px, 40px, $lato);

            color: $grey_3;
        }
    }
    &_message {
        height: 170px;
    }

    &_button {
        @include font(12px, 3, $latoBold);

        text-transform: uppercase;
        background: $green_1;
        color: $green_light;
        padding: 0 38px;
        float: right;
        position: relative;

        &:hover:after {
            @include transition();
            @include position(absolute, 110%);
            @include font();

            content: "send your message";
            color: $black_1;
            background-color: $green_light;            
        }
    }

    .icon {
        color: $green_1;
        margin-right: 12px;
    }

    @include respond-to(mobiles) {
        padding: 0 20px;

        &_form {
            width: 100%;
            float: none;
        }

        &_info {
            float: none;
        }
    }
}