.header {
    text-align: center;
    background: $black_1;
    position: relative;
    padding-top: 13px;

    &::after {
        @include triangle(25px, $black_1);

        display: block;
        content: "";
    }
}