@font-face {
     font-family: 'Lato-Black';
     src: url('../fonts/Lato-Black.eot');
     src: url('../fonts/Lato-Black.woff2') format('woff2'),
          url('../fonts/Lato-Black.woff') format('woff'),
          url('../fonts/Lato-Black.ttf') format('truetype'),
          url('../fonts/Lato-Black.svg#Lato-Black') format('svg'),
          url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
@font-face {
     font-family: 'Lato-Light';
     src: url('../fonts/Lato-Light.eot');
     src: url('../fonts/Lato-Light.woff2') format('woff2'),
          url('../fonts/Lato-Light.woff') format('woff'),
          url('../fonts/Lato-Light.ttf') format('truetype'),
          url('../fonts/Lato-Light.svg#Lato-Light') format('svg'),
          url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
@font-face {
     font-family: 'Lato-Bold';
     src: url('../fonts/Lato-Bold.eot');
     src: url('../fonts/Lato-Bold.woff2') format('woff2'),
          url('../fonts/Lato-Bold.woff') format('woff'),
          url('../fonts/Lato-Bold.ttf') format('truetype'),
          url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg'),
          url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Lato-Regular';
     src: url('../fonts/Lato-Regular.eot');
     src: url('../fonts/Lato-Regular.woff2') format('woff2'),
          url('../fonts/Lato-Regular.woff') format('woff'),
          url('../fonts/Lato-Regular.ttf') format('truetype'),
          url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
          url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
   
   
   
   
   
   
  