@mixin font($size: 14px, $lineHeight: normal, $fontFamily: $mainFont, $font_style: normal) {
    font-size: #{$size/$rootFont}rem;
	line-height: $lineHeight;
	font-family: $fontFamily;
	font-style: $font_style;
}
@mixin font_size($size) {
	font-size: #{$size/$rootFont}rem;
}
@mixin position($position: absolute, $top: 0, $left: 0, $right: auto, $bottom: auto) {
	position: $position;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}
@mixin border($size, $color, $radius: 0px) {
	border: $size solid $color;
	border-radius: $radius;
}
@mixin centering_elements() {
	text-align: center;
	display: block;
}
  
@mixin centering($max-width: $max-width) {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
}
@mixin align ($display:inline-block, $vertical-align:top) {
    display: $display;
    vertical-align: $vertical-align;
}
@mixin flex ($justify-content:space-between, $flex-direction:row, $flex-wrap:wrap, $align-items: flex-start) {
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin background($link, $bg_size: cover){
	background: url($link) no-repeat;
	background-size: $bg_size;
}
@mixin background_sprite($width, $height, $link, $position_side: 0, $position_vertical: 0){
	width: $width;
	height: $height; 
	background:url($link) $position_side $position_vertical;
	display: block;
}
@mixin width_calc($width, $max_width: $max-width){
	width: #{$width/$max_width} *100%;
}
@mixin triangle($border_width, $color){
	border: $border_width solid transparent;
	border-top-color: $color;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 100%;
    transform: translate(-50%);
}

@mixin transition($option:all, $delay: 0.5s, $approach: ease){
	transition: $option $delay $approach;
}
@mixin clearfix() {
	&::after {
	  content: '';
	  display: block;
	  width: 100%;
	  clear: both;
	}
  }

  
@mixin respond-to($media) {
  // 320 - 480
  @if $media == portrait {
      @media only screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape - 1) {
          @content;
      }
  }
  // 480 - 767
  @if $media == landscape {
      @media only screen and (min-width: $mobile-landscape) and (max-width: $tablet-portrait - 1) {
          @content;
      }
  }
  // 320 - 767
  @if $media == mobiles {
      @media only screen and (min-width: $mobile-portrait) and (max-width: $tablet-portrait - 1) {
          @content;
      }
  }  
  // 768 - 945 portrait and landscape
  @else if $media == tablets {
      @media only screen and (min-width: $tablet-portrait) and (max-width: $tablet-landscape - 1) {
          @content;
      }
  }
}