//COLORS
$white: #ffffff;
$white1: #f2f2f2;// back service

$black: #000000;
$blue1: #303441; // header
$blue2: #373b4a;//header bottom
$blue3: #666d89; //portfolio text//footer text
$red1: #eb5055;//hover
$red2: #ca4549; // input
$red3: #ea676b; // border contact

$grey1: #666d89;//service text

$pink: #f0d8d9;//contact title
$pink2: #f48c8f; //input text

$rootFont: 10px;
$mainFont: 'Lato-Black';
$max-width: 945px;

//FONTS
$latoBold: 'Lato-Bold';
$latoLight: 'Lato-Light';
$lato: 'Lato-Regular';

//responsive breakpoints
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 767px;
$tablet-landscape: 945px;
