@charset "UTF-8";
/*--EXTEND--*/
.about::before, .footer_wrapper::before, .portfolio::before, .blog::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-image: url(../img/border.png);
  background-repeat: repeat;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: 0;
}

.about::after, .footer_wrapper::after, .portfolio::after, .blog::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-image: url(../img/border.png);
  background-repeat: repeat;
  opacity: 0.5;
  position: absolute;
  bottom: 20px;
  left: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input {
  outline: none;
  border: none;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Bazar';
  src: url("../fonts/Bazar.eot");
  src: url("../fonts/Bazar.woff2") format("woff2"), url("../fonts/Bazar.woff") format("woff"), url("../fonts/Bazar.ttf") format("truetype"), url("../fonts/Bazar.svg#Bazar") format("svg"), url("../fonts/Bazar.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SEASRN__';
  src: url("../fonts/SEASRN__.eot");
  src: url("../fonts/SEASRN__.woff2") format("woff2"), url("../fonts/SEASRN__.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SeasideResortNF';
  src: url("../fonts/SeasideResortNF.woff") format("woff"), url("../fonts/SeasideResortNF.ttf") format("truetype"), url("../fonts/SeasideResortNF.svg#SeasideResortNF") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.eot");
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype"), url("../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg"), url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url("../fonts/Oswald-Regular.eot");
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald-Regular") format("svg"), url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.eot");
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype"), url("../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg"), url("../fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url("../fonts/Oswald-Bold.eot");
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype"), url("../fonts/Oswald-Bold.svg#Oswald-Bold") format("svg"), url("../fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.section_header {
  text-align: center;
  margin-bottom: 80px;
}

.section_title {
  font-family: "Bazar";
  font-size: 18rem;
  line-height: normal;
  text-shadow: 3px 3px 0 #ffffff;
  text-transform: uppercase;
  color: #3a3a3a;
  margin-bottom: 20px;
}

.section_title_decoration {
  font-family: "RobotoSlab-Regular";
  font-size: 4.4rem;
  line-height: 22px;
  position: relative;
  color: #3a3a3a;
  margin-bottom: 20px;
  padding: 0 90px;
}

.section_title_decoration::before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #3a3a3a;
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.section_title_decoration::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #3a3a3a;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}

.section_subtitle {
  font-family: "Oswald-Regular";
  font-size: 3.2rem;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  color: #38353e;
}

.block_footer {
  font-family: "Oswald-Bold";
  font-size: 2.8rem;
  line-height: normal;
  text-transform: uppercase;
  color: #3a3a3a;
  position: relative;
  display: inline-block;
}

.block_footer::before {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  background-color: #3a3a3a;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  max-width: 1850px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header_wrapper {
  position: relative;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.header_wrapper:before {
  position: absolute;
  left: 0;
  right: auto;
  bottom: 20px;
  top: auto;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-image: url(../img/border.png);
  background-repeat: repeat;
  opacity: 0.5;
}

.header_slider_wrapper {
  background: url(../img/header-bg.png);
  background-size: cover;
}

.header_logo {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: auto;
  top: 0%;
  transform: translate(-50%);
  z-index: 2000;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.header_nav_item {
  display: inline-block;
  padding: 100px 0;
}

.header_nav_item .nav_item:nth-child(2) {
  margin-right: 280px;
}

.header_nav_item:nth-child(3) {
  margin-left: 280px;
}

.header_nav_link {
  font-family: "Bazar";
  font-size: 5.4rem;
  line-height: normal;
  color: #fbfaf6;
}

.header_nav_link:hover {
  transition: all 1s ease;
  color: #d8dbdd;
}

.slider {
  max-width: 1850px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slider_wrapper {
  position: relative;
}

.slider_wrapper:before {
  position: absolute;
  left: 0;
  right: auto;
  bottom: auto;
  top: 20px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-image: url(../img/border.png);
  background-repeat: repeat;
  opacity: 0.5;
}

.slider_wrapper:after {
  position: absolute;
  left: 0;
  right: auto;
  bottom: auto;
  top: 20px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-image: url(../img/border.png);
  background-repeat: repeat;
  opacity: 0.5;
}

.slider_title {
  font-family: "SeasideResortNF";
  font-size: 22.4rem;
  line-height: 360px;
  color: #fbfaf6;
  text-shadow: 10px 10px 0 #3a3a3a;
  text-align: center;
}

.slider_subtitle {
  font-family: "Bazar";
  font-size: 4.4rem;
  line-height: normal;
  display: inline-block;
  width: 875px;
  color: #383a3c;
  background: url(../img/sub_logo.png) no-repeat;
  margin-bottom: 100px;
  padding: 35px 0 130px;
  position: relative;
}

.slider_subtitle:before {
  position: absolute;
  left: -30%;
  right: auto;
  bottom: auto;
  top: 30%;
  content: "";
  background: url(../img/before_old.png);
  background-size: cover;
  width: 190px;
  height: 14px;
  display: block;
}

.slider_subtitle:after {
  position: absolute;
  left: 110%;
  right: auto;
  bottom: auto;
  top: 30%;
  content: "";
  background: url(../img/before_old.png);
  background-size: cover;
  width: 190px;
  height: 14px;
  display: block;
}

.slider .slide {
  background-color: #f9ebd9;
  border-radius: 5px;
  margin-bottom: 60px;
}

.slider .slide_text {
  font-family: "Bazar";
  font-size: 4.4rem;
  line-height: 80px;
  color: #3a3a3a;
  vertical-align: top;
  display: inline-block;
  padding-bottom: 10px;
}

.slider .slide_img {
  width: 100%;
  height: 100%;
}

.slider .slide_img_wrapper {
  padding: 20px;
  width: 100%;
  height: 920px;
}

.slider_info {
  font-family: "Bazar";
  font-size: 6.4rem;
  line-height: 130px;
  width: 950px;
  text-align: center;
  display: inline-block;
  color: #fbfaf6;
  margin-bottom: 115px;
}

.slider_info_smaller {
  font-family: "Bazar";
  font-size: 5.3rem;
  line-height: normal;
  display: block;
}

.slider .slider_ar,
.slider .slick-next:before,
.slider .slick-next,
.slider .slick-prev:before,
.slider .slick-prev {
  display: none;
  background: #f9ebd9;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  z-index: 100;
}

.slider .slick-prev:before, .slider .slick-next:before {
  opacity: 0;
}

.slider .slick-prev img {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: auto;
  top: 30%;
  object-fit: none;
  object-position: 0px 0px;
  width: 27px;
  height: 42px;
}

.slider .slick-next img {
  position: absolute;
  left: 30%;
  right: auto;
  bottom: auto;
  top: 30%;
  object-fit: none;
  object-position: -54px 0;
  width: 27px;
  height: 42px;
}

.slider .slick-prev:hover img {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: auto;
  top: 30%;
  object-fit: none;
  object-position: -27px 0px;
  width: 27px;
  height: 42px;
}

.slider .slick-next:hover img {
  position: absolute;
  left: 30%;
  right: auto;
  bottom: auto;
  top: 30%;
  object-fit: none;
  object-position: -81px 0;
  width: 27px;
  height: 42px;
}

.slider .slick-slider {
  overflow: hidden;
}

.section_title {
  color: #3a3a3a;
  line-height: normal;
  text-align: center;
}

.section_subtitle {
  font-family: "Oswald-Regular";
  font-size: 2.8rem;
  line-height: 1px;
  margin-top: 20px;
}

.product {
  width: 90%;
  margin: 0 auto;
}

.product_list {
  list-style: none;
  font-size: 0;
  text-align: center;
}

.product_item {
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}

.product_item:first-child {
  margin-left: 0;
}

.product_info {
  text-align: center;
  margin-top: 45px;
}

.product_icon {
  margin: 0 auto;
}

.product_title {
  font-family: "Bazar";
  font-size: 5rem;
  line-height: normal;
  color: #383a3c;
  display: inline-block;
}

.product_subtitle {
  font-family: "RobotoSlab-Regular";
  font-size: 2.3rem;
  line-height: normal;
  color: #383a3c;
  margin-top: 20px;
  position: relative;
}

.product_subtitle:after {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: -30px;
  top: auto;
  content: "";
  width: 80px;
  height: 7px;
  transform: translateX(-50%);
  background: #383a3c;
}

.product_link {
  color: #383a3c;
  text-decoration: underline;
}

.product_bold {
  font-weight: bold;
}

.product_description {
  font-family: "RobotoSlab-Regular";
  font-size: 2.3rem;
  line-height: normal;
  color: #383a3c;
  width: 300px;
  text-align: left;
  margin-top: 70px;
}

.about {
  position: relative;
  padding: 95px 5px;
  width: 100%;
  background: url(../img/about-bg.png);
}

.about_content {
  max-width: 1850px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.movies {
  width: 300px;
  height: 301px;
  background: url("../img/about.png") 0% 0;
  display: block;
}

.music {
  width: 300px;
  height: 301px;
  background: url("../img/about.png") 33.2% 0;
  display: block;
}

.clothes {
  width: 300px;
  height: 301px;
  background: url("../img/about.png") 66.6% 0;
  display: block;
}

.food {
  width: 300px;
  height: 301px;
  background: url("../img/about.png") 100% 0;
  display: block;
}

.footer {
  max-width: 1850px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.footer .section_title,
.footer .section_title_decoration,
.footer .section_subtitle {
  color: #f9ebd9;
}

.footer .section_title {
  text-shadow: 3px 3px 0 #959ca3;
}

.footer .section_title_decoration::before {
  background-color: #f9ebd9;
}

.footer .section_title_decoration::after {
  background-color: #f9ebd9;
}

.footer_wrapper {
  position: relative;
  background: url("../img/footer-bg.png");
  padding: 100px 0 150px;
}

.footer_form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 52.43%;
  margin-bottom: 80px;
}

.footer_form_wrapper {
  display: flex;
  justify-content: center;
}

.footer_input, .footer_message {
  font-family: "RobotoSlab-Regular";
  font-size: 3.2rem;
  line-height: 22px;
  width: 100%;
  border-radius: 5px;
  padding: 25px 20px;
  margin-bottom: 20px;
}

.footer_message {
  height: 335px;
}

.footer_social_title {
  font-family: "Bazar";
  font-size: 4.8rem;
  line-height: normal;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
  margin-bottom: 35px;
}

.footer_social_title::after {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: auto;
  top: 100%;
  content: '';
  width: 5%;
  height: 3px;
  transform: translateX(-50%);
  background-color: #ffffff;
}

.footer_social_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer_social_item {
  margin-right: 55px;
}

.footer_social_item:last-child {
  margin-right: 0;
}

.footer_twitter {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 0 0;
  display: block;
}

.footer_twitter:hover {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 0 100%;
  display: block;
}

.footer_fb {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 25% 0;
  display: block;
}

.footer_fb:hover {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 25% 100%;
  display: block;
}

.footer_g {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 50% 0;
  display: block;
}

.footer_g:hover {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 50% 100%;
  display: block;
}

.footer_paintres {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 75% 0;
  display: block;
}

.footer_paintres:hover {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 75% 100%;
  display: block;
}

.footer_linkedin {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 100% 0;
  display: block;
}

.footer_linkedin:hover {
  width: 160px;
  height: 160px;
  background: url("../img/social.png") 100% 100%;
  display: block;
}

.footer_button {
  font-family: "RobotoSlab-Bold";
  font-size: 3.2rem;
  line-height: 22px;
  display: inline-block;
  padding: 22px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #383a3c;
  align-self: flex-start;
}

.portfolio {
  background: url(../img/portfolio-bg.png) repeat;
  padding: 100px 0;
  border-bottom: 1px solid #b2afad;
  position: relative;
}

.portfolio_content {
  max-width: 1850px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.portfolio_buttons {
  margin-bottom: 40px;
}

.portfolio_filter {
  font-family: "RobotoSlab-Regular";
  font-size: 3.2rem;
  line-height: normal;
  color: #383a3c;
  margin-right: 50px;
  display: inline-block;
}

.portfolio_button {
  display: inline-block;
  background: #fbfaf6;
  margin-right: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0 5px 5px 0;
}

.portfolio_button:last-child {
  margin-right: 0;
}

.portfolio_button_link {
  font-family: "RobotoSlab-Bold";
  font-size: 2.4rem;
  line-height: normal;
  color: #383a3c;
  position: relative;
  padding: 9px 20px;
  display: inline-block;
}

.portfolio_button_link:after {
  content: "";
  position: absolute;
  background: url(../img/tag.png) no-repeat;
  width: 30px;
  height: 50px;
  left: -24px;
  top: 0px;
}

.portfolio_button_link:before {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: auto;
  top: 45%;
  content: "";
  height: 8px;
  width: 8px;
  background: #d8dbdd;
  border-radius: 50%;
}

.portfolio_wrapper {
  margin-bottom: 60px;
}

.portfolio_list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio_item {
  flex-basis: 23.62%;
  background: #fbfaf6;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.portfolio_image {
  background: #e3dfd7;
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

.portfolio_title {
  font-family: "RobotoSlab-Regular";
  font-size: 2.4rem;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0 20px;
}

.portfolio_icon {
  position: absolute;
  left: auto;
  right: 50%;
  bottom: auto;
  top: 80%;
  border-radius: 50%;
  transform: translateX(50%);
  font-size: 50px;
  line-height: 50px;
  background: #e3dfd7;
  padding: 10px;
  color: #383a3c;
}

.portfolio .block_footer_wrapper {
  text-align: center;
}

.blog {
  background: url(../img/blog-bg.png) repeat;
  padding: 100px 0;
  position: relative;
}

.blog_content {
  max-width: 1850px;
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.blog_wrapper {
  margin-bottom: 60px;
}

.blog_item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 60px;
}

.blog_image {
  flex-basis: 29.72%;
  padding: 8px;
  background: #fbfaf6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.blog_img {
  background: #e3dfd7;
  width: 100%;
  padding-bottom: 80%;
}

.blog_item_content {
  flex-basis: 68.72%;
  color: #383a3c;
}

.blog_title {
  font-family: "RobotoSlab-Bold";
  font-size: 4.8rem;
  line-height: normal;
  margin-bottom: 10px;
}

.blog_subtitle {
  font-family: "Oswald-Bold";
  font-size: 2rem;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.blog_desc {
  font-family: "RobotoSlab-Regular";
  font-size: 3.2rem;
  line-height: 2;
}

.blog_desc_link {
  font-family: "RobotoSlab-Bold";
  font-size: 2.2rem;
  line-height: normal;
  text-transform: uppercase;
  color: #383a3c;
}

.blog .block_footer_wrapper {
  text-align: center;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-external:before, .icon-gallery:before, .icon-headphones:before, .icon-story:before, .icon-television:before {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-external:before {
  content: "";
}

.icon-gallery:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-story:before {
  content: "";
}

.icon-television:before {
  content: "";
}
