.banner {
    @include centering();

    padding: 0 100px;

    .slick-dots {
        bottom: 30px;

        li {
            margin: 0 2px;
        }
    }

    .slick-dots li button:before {
        content: "";
        color: $white;
        border: 2px solid $white;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    .slick-dots li.slick-active button:before {
        background: $white;
    }

    &_slide {
        position: relative;

        &_title {
            @include font(42px, normal, $montserrat_black);

            color: $white;
        }

        &_text {
            padding: 105px 0 140px;
            width: 465px;
        }

        &_info {
            @include font(16px, normal, $crimson_regular);

            color: $white;
        }

        &_img {
            @include position(absolute, 50%);

            transform: translate(0, -50%);

            &_wrapper {
                @include position(absolute, 0, auto, 0);
                width: 300px;
                height: 100%;
            }
        }

        &_link {
            @include font(11px, 42px);

            background: $blue2;
            color: $white; 
            border-radius: 25px;
            display: inline-block;
            padding: 0 50px;
            margin-top: 70px; 
        }
    }

    &_wrapper {
        background: $black1;

        .slick-dotted.slick-slider {
            margin-bottom: 0;
            
        }
    }

    .slick-next:before, .slick-prev:before {
        content: "";
    }

    .icon-arrow_right, .icon-arrow_left {
        color: $white;
        font-size: 30px;
        line-height: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid $white;
        display: inline-block;

        &:hover {
            opacity: .7;
        }
    }  

    .slick-prev.slick-disabled i,
    .slick-next.slick-disabled i {
    
        border-color: transparent;
        font-size: 0;
    }

}
