.best {
    @include centering();

    background: $white;
    text-align: center;
    margin: 50px 0;
    border-radius: 5px;

    &_title {
        @include font(12px, 55px);

        text-transform: uppercase;
        border-bottom: 1px solid $white1;
        font-weight: bold;
    }

    &_list {
        @include clearfix();

        width: 100%;
    }

    &_item{
        float: left;
        width: 25%;
        border-right: 1px solid $white1;
        padding-bottom: 40px; 

        &:last-child {
            border-right: 0px;
        }
    }
    &_img_wrapper {
        height: 230px;
        overflow: hidden;
        position: relative;
    }

    &_img {
        @include position(absolute, 50%, 50%);

        transform: translate(-50%, -50%);
    }

    &_product {
        @include font(16px);

        font-weight: bold;
    }

    &_color {
        @include font(11px, 4);

        color: $grey7;
        text-transform: uppercase;
    }

    &_price {
        @include font();

        color: $blue3;
        font-weight: bold;
    }

    &_former_price {
        color: $grey7;
        text-decoration: line-through;
        margin-right: 20px;
    }
}