.content {
    width: 75%;

    &_products {
        @include flex();
    }

    &_product {
        @include font(16px);

        color: $blue3;
    }

    &_item {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        width: 30%;
        border-radius: 5px;
    }

    .main {
        width: 65%;
        background: white;
        position: relative;

        .content_img {
            width: 100%;
        }

        .content_description {
            position: unset;
            align-items: flex-start;
            height: 65px;
        }

        .content_price {
            @include position(absolute, 10px, 10px);

            color: $white;
            background: $black;
            border-radius: 8px;
            line-height: 2;
            padding: 0 10px;
        }

        &_link {
            @include position(absolute, auto, auto, 10px, 10px);

            border: 2px solid $grey2;
            border-radius:  25px;

            &_feature {
                border-right: 2px solid $grey2;
            }

            &:hover {
                @include transition();

                background: $grey7;
            }

            span {
                @include font();

                font-weight: bold;
                padding: 10px 40px;
                display: inline-block;
                color: $blue3;
            }
        }
    }

    .special {
        display: inline;

        .content_description {
            @include position(absolute, 0, 0 );
    
            width: 100%;
        }
        .content_price {
            color: $grey8;
        }
    }

    &_description {
        @include position(absolute, auto, 0 , auto, 0);
        @include flex(space-around, column, wrap, center);

        width: 100%;
        height: 145px;
        padding: 0 30px;
    }

    &_color {
        @include font(12px, 3);

        color: $grey7;
        text-transform: uppercase;
    }

    &_price {
        @include font(14px, 3);

        color: $blue3;
        font-weight: bold;
    }
}