.footer {
    @include font(12px, 2);
    @include clearfix();
    

    background: $blue3;
    padding: 25px 0;

    &_top {
        border-bottom: 1px solid $grey4;
    }
    &_top, &_bottom {
        @include centering();
        @include flex();

        height: 150px;
        align-items: center;
    }

    &_logo_link {
        @include background_sprite(92px, 25px, "../img/logo_sprite.png", 0px, 25px);
    }

    &_nav {
        &_item {
            margin-left: 30px;

            &:first-child {
                margin-left: 0;
            }
        }

        &_link {
            @include font(12px);

            text-transform: uppercase;
            color: $white;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &_bottom {
        padding: 0 15px;
    
        &_link{
            @include font();

            color: $grey5;
            text-transform: uppercase; 
            
            &:hover {
                @include transition();

                color: $white;
            }
        }

        &_item {
            margin-left: 30px;
    
            &:first-child {
                margin-left: 0;
            }
        }

        &_text {
            @include font(14px, 2, $crimson_italic);
    
            width: 513px;
            color: $grey5;
        }
    }
   
}