.header {
    position: relative;

    &:after {
        @include position(absolute, 90px, 0);

        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid $grey2;
    }

    &_top{
        @include centering();
        @include flex();

        align-items: center;
        height: 90px;
    }

   /* &_inp, &_addition_info {
        display: none;
    }*/

    &_bottom{
        @include centering();
        @include clearfix();

        &_nav {
            float: left;

            &_link {
                text-transform: uppercase;
                font-weight: bold;
                color: $grey3;

                &:hover {
                    @include transition();

                    color: $blue3;
                }
            }

            &_item {
                margin-left: 30px;
                line-height: 60px;
    
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &_support {
            float: right;

            &_input {
                padding-right: 10px;
            }

            &_link {
                text-transform: uppercase;
                line-height: 60px;
                margin-right: 30px;
                color: $grey7;
                font-weight: bold;
            }

            &_lab {
                padding: 0 15px;
                font-size: 15px;
            }

            &_search {
                display: inline-block;
                line-height: 60px;
                border-left: 1px solid $grey2;
                border-right: 1px solid $grey2;
            }
        }
    }   

    &_nav {
        &_item {
            margin-left: 30px;

            &:first-child {
                margin-left: 0;
            }
        }

        &_link {
            @include font(14px, normal);

            font-weight: bold;
            text-transform: capitalize;

            &:hover {
                @include transition();

                color: $black;
            }
        }
    }

    &_block {
        display: inline-flex;
    }
    &_logo {
        display: inline-flex;

        &_link {
            @include background_sprite(92px, 25px, "../img/logo_sprite.png", 0px, 0px);
        }
    }
    &_lab {
        font-size: 25px;
        padding: 25px;
        border-right: 1px solid $grey2;
    }

    .cart_link {
        margin-right: 30px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px;
    }

    .cart_count {
        background: $grey2;
        border-radius: 50%;
        display: inline-block;
        width: 20px;
        text-align: center;
        margin-left: 10px;
    }

    .signing_link {
        @include border(2px, $grey2, 20px);

        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;

        &:hover {
            @include transition();

            background: rgba(0, 0, 0, 0.1);
        }
    }
    .icon-cart:before {
        margin-right: 10px;
    }
}