.product {
    @include centering();
    @include flex();

    &_wrapper {
        background: $grey6;
    }

    .pagination {
        @include flex();

        width: 100%;
        background: $white;
        margin-top: 30px;
        border-radius: 5px;

        &_item {
            padding: 20px 0;

            &_arrowl {
                display: inline-block;
                border-right: 1px solid $grey2;
                padding: 20px 98px;
            }

            &_arrowr {
                display: inline-block;
                border-left: 1px solid $grey2;
                padding: 20px 98px;
            }
        }

        &_link {
            @include font(14px, 50px);

            color: $blue3;
            padding: 0 21px;
            display: inline-block;
            border-radius: 50%;
            font-weight: bold;

            &:hover {
                border-radius: 50%;
                box-shadow: 1px 20px 30px $grey6;
            }
        }
    }
}