.sidebar {
    width: 23%;

    .radio {
        line-height: 20px;
        width: 20px;
        height: 20px;
        margin: 0 10px;
        vertical-align: middle;
    }

    &_section {
        background: $white;
        margin-bottom: 30px;
        border-radius: 8px;
        position: relative;

        &_link {
            @include position(absolute, 15px, auto, 15px);
            @include font(11px);

            text-decoration: underline;
            color: $blue2;
            font-weight: bold;
        }

        &_title {
            @include font(11px, 50px);

            text-transform: uppercase;
            border-bottom: 1px solid $grey2;
            border-top: 1px solid $grey2;
            padding: 0 20px;
            margin-top: -1px;
        }

        &_radio {
            @include font(14px, 50px);

            width: 49%;
            display: inline-block;       
            border-right: 1px solid $grey2;
            font-weight: bold;

            &:last-child {
                border-right: none; 
            }
        }
    }

    &_lab {
        @include font(13px, 42px);
        @include clearfix();

        border-bottom: 1px solid $grey2;
        display: block;
        font-weight: bold;
        color: $blue3;
        padding: 0 20px;

        i {
            float: right;

        }
    }

    &_lab_check {
        @include font(13px, 42px);

        padding: 0 20px;
        font-weight: bold;
        color: $blue3;
        vertical-align: middle;
    }

    .inp_check {
        vertical-align: middle;
    }

    &_section_item {
        @include clearfix();
        padding: 0 15px;

        .count {
            @include font(13px, 42px);

            float: right;
        }
    }

    &_inp {
        display: none;
    }

    &_submenu {
        display: none;
        text-transform: uppercase;
        background: $grey2;

        .submenu_item, .submenu_link {
            @include font(13px, 42px);

            color: $grey7;
            border-bottom: 1px solid $grey7;
            display: block;
            text-transform: uppercase;
            padding: 0 10px;
        }
    }

    .sidebar_inp:checked ~ .sidebar_submenu {
        display: block;
    }

    .sidebar_inp:checked + label> i {
        transform: rotate(90deg);
    }

    .icon-checked, .icon-dot {
        display: none;
    }

    .icon-dot {
        font-size: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: 1px solid $grey7;
        border-radius: 50%;
        text-align: center; 
        margin: 10px;
        vertical-align: middle;
    }

    .icon-checked {
        font-size: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 3px;
        vertical-align: middle;
    }

    .inp_check:checked + i {
        display: inline-block;
        color: $green;
        
        //margin-left: 5px;
    }

    .inp_check:checked {
        display: none;
    }
}