.sortbar {
    @include flex();

    width: 100%;
    background: $white;
    margin: 30px 0;
    border-radius: 5px;
    
    &_select {
        @include font(11px);

        text-transform: uppercase;
        color: $grey7;
    }

    &_inp {
        @include font(13px, 2);

        border-radius: 20px;
        padding: 0 10px;
        background: $grey2;
        width: 65px;
    }

    &_inp_t {
        @include font(13px, 2);

        border-radius: 20px;
        padding: 0 10px;
        background: $grey2;
        color: $grey7;
    }

    &_section {
        @include flex();

        width: 60%;
        padding: 25px 15px;
        border-right: 1px solid $grey2;
        align-items: center;
        
        &:last-child {
            border: none;
            width: 19%;
        }

        &:first-child {
            width: 19%;
        }
    }

    &_lab {
        @include font(11px);

        text-transform: uppercase;
        color: $grey7;
    }

    .icon-tick {
        display: none;
    }

    .sortbar_radio:checked {
        display: none;
    }

    .sortbar_radio:checked + i {
        display: inline-block;
        color: $green;
        font-size: 20px;
        width: 20px;
        line-height: 20px;
    }
}