.testimonials {
    @include centering();

    padding: 70px 0 90px;

    &_title{
        @include font(32px, normal, $montserrat_black);

        color: $blue3;
        text-align: center;
    }

    &_description {
        @include font(16px, 2, $crimson_italic);

        color: $grey7;
        text-align: center;
        margin-bottom: 55px;
    }

    &_list {
        @include flex();
    }    

    &_item {
        width: 250px;
    }

    &_person {
        @include clearfix();
    }

    &_img, &_speciality {
        float: left;
    }

    &_img {
        margin-right: 30px;
    }

    &_photo {
        @include font();

        color: $blue3;
        float: left;
        width: 65%;
    }

    &_speciality {
        @include font(14px, 3, $crimson_italic);

        color: $grey7;
    }

    &_text {
        @include font(14px, 24px, $crimson_regular);

        color: $blue3;
    }
}