@charset "UTF-8";
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-SemiBold';
  src: url("../fonts/Exo/Exo-SemiBold.eot");
  src: url("../fonts/Exo/Exo-SemiBold.woff2") format("woff2"), url("../fonts/Exo/Exo-SemiBold.woff") format("woff"), url("../fonts/Exo/Exo-SemiBold.ttf") format("truetype"), url("../fonts/Exo/Exo-SemiBold.svg#Exo-SemiBold") format("svg"), url("../fonts/Exo/Exo-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Bold';
  src: url("../fonts/Exo/Exo-Bold.eot");
  src: url("../fonts/Exo/Exo-Bold.woff2") format("woff2"), url("../fonts/Exo/Exo-Bold.woff") format("woff"), url("../fonts/Exo/Exo-Bold.ttf") format("truetype"), url("../fonts/Exo/Exo-Bold.svg#Exo-Bold") format("svg"), url("../fonts/Exo/Exo-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  outline: none;
  border: 0;
  margin: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.block_title {
  font-size: 2.8rem;
  line-height: 3;
  font-family: "Exo-SemiBold";
  font-style: normal;
  position: relative;
  text-transform: uppercase;
  color: #424242;
  text-align: center;
}

.block_title:after {
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  display: block;
  width: 30px;
  height: 2px;
  content: "";
  background: #f0423c;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .block_title {
    font-size: 20px;
  }
}

.block_title2 {
  font-size: 2.8rem;
  line-height: 165px;
  font-family: "Exo-SemiBold";
  font-style: normal;
  text-transform: uppercase;
  color: #424242;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .block_title2 {
    font-size: 14px;
  }
}

.block_description {
  font-size: 1.6rem;
  line-height: 70px;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #424242;
  text-align: center;
  margin-bottom: 10px;
}

.page_title {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.page_title_wrapper {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  background-position: center, bottom;
  position: relative;
  z-index: -1;
}

.page_title_wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  content: "";
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  opacity: 0.9;
}

.page_title_text {
  font-size: 2rem;
  line-height: 5;
  font-family: "Exo-Bold";
  font-style: normal;
  color: #424242;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1000;
}

@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont/myfont.eot");
  src: url("../fonts/iconsfont/myfont.eot?#iefix") format("eot"), url("../fonts/iconsfont/myfont.woff2") format("woff2"), url("../fonts/iconsfont/myfont.woff") format("woff"), url("../fonts/iconsfont/myfont.ttf") format("truetype"), url("../fonts/iconsfont/myfont.svg#myfont") format("svg");
}

.icon-anchor:before, .icon-arr:before, .icon-arrow_left:before, .icon-arrow_right:before, .icon-bag:before, .icon-bell:before, .icon-bird:before, .icon-brush:before, .icon-burger:before, .icon-camera:before, .icon-checked:before, .icon-contract:before, .icon-cup:before, .icon-darts:before, .icon-deer:before, .icon-envelope:before, .icon-facebook:before, .icon-google:before, .icon-left_chevron:before, .icon-linkedin:before, .icon-monitor:before, .icon-phone:before, .icon-pinterest:before, .icon-right_chevron:before, .icon-shirt:before, .icon-t:before, .icon-twitter:before, .icon-up:before, .icon-user:before {
  font-family: "myfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-anchor:before {
  content: "";
}

.icon-arr:before {
  content: "";
}

.icon-arrow_left:before {
  content: "";
}

.icon-arrow_right:before {
  content: "";
}

.icon-bag:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bird:before {
  content: "";
}

.icon-brush:before {
  content: "";
}

.icon-burger:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-checked:before {
  content: "";
}

.icon-contract:before {
  content: "";
}

.icon-cup:before {
  content: "";
}

.icon-darts:before {
  content: "";
}

.icon-deer:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-left_chevron:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-monitor:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-right_chevron:before {
  content: "";
}

.icon-shirt:before {
  content: "";
}

.icon-t:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-up:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.social_link {
  color: #999999;
  font-size: 14px;
}

.social_item {
  margin-right: 10px;
}

.social_item:last-child {
  margin-right: 0;
}

.footer .social_link {
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
}

.footer .social_link:hover {
  transition: all 0.5s ease;
  background: #f0423c;
  color: #ffffff;
  border-color: #f0423c;
}

.header .social {
  float: left;
}

.header .social_link:hover {
  transition: all 0.5s ease;
  color: #f0423c;
}

.user {
  float: right;
}

.user_list {
  padding: 20px 0;
}

.user_inp, .user_label {
  display: none;
}

.user_item {
  vertical-align: top;
  line-height: 50px;
}

.user_avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.user_link {
  position: relative;
  font-size: 15px;
  margin: 0 10px;
  color: #424242;
}

.user_link_number {
  position: absolute;
  top: -60%;
  left: 50%;
  right: auto;
  bottom: auto;
  display: block;
  padding: 2px;
  background: #424242;
  border-radius: 50px;
  line-height: 10px;
  color: #ffffff;
}

.user_link_number:hover {
  background: #f0423c;
}

.header_top {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 12px 0;
}

.header_top::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.header_top_wrapper {
  background-color: #424242;
  position: relative;
  z-index: 222222;
}

.header_addresses {
  float: right;
}

.header_addresses_link {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #999999;
  border-right: 1px solid #999999;
  padding: 0 10px;
}

.header_addresses_link:hover {
  transition: all 0.5s ease;
  color: #ffffff;
}

.header_addresses_link:last-child {
  border-right: none;
  padding-right: 0;
}

.header .icon-phone::before, .header .icon-envelope::before {
  padding: 0 10px;
}

.header_bottom {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}

.header_bottom::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.header_bottom .logo {
  display: inline-block;
  padding: 20px 0;
  margin-right: 40px;
}

.header_nav {
  display: inline-block;
  vertical-align: top;
}

.header_nav_link {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Lato-Regular";
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  color: #424242;
}

.header_nav_link:hover {
  transition: all 0.5s ease;
  color: #f0423c;
}

.header_nav_link:focus {
  color: #f0423c;
}

.header_nav_item {
  margin: 0 30px;
  line-height: 85px;
  position: relative;
  z-index: 1000;
}

.header_nav_item:hover .header_nav_submenu_first {
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  bottom: auto;
  display: block;
}

.header_nav_submenu_first {
  display: none;
}

.header_nav_submenu_second {
  display: none;
}

.header_nav_submenu_item {
  display: block;
  border-top: 1px solid #5c5c5c;
  width: 235px;
  position: relative;
}

.header_nav_submenu_item:first-child {
  border-top: 2px solid #f0423c;
}

.header_nav_submenu_item:hover .header_nav_submenu_second {
  position: absolute;
  top: -2px;
  left: 100%;
  right: auto;
  bottom: auto;
  border-left: 1px solid #ffffff;
  display: block;
}

.header_nav_submenu_link {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  background: #424242;
  padding: 0 20px;
  widows: 100%;
}

.header_nav_submenu_link:hover {
  transition: all 0.5s ease;
  background: #f0423c;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .header_addresses_text {
    display: none;
  }
  .header .header_nav_item:hover .header_nav_submenu_first {
    position: static;
  }
  .header_nav {
    display: block;
  }
  .header_nav_link {
    font-size: 1rem;
    line-height: normal;
    font-family: "Lato-Regular";
    font-style: normal;
  }
  .header_nav_item {
    font-size: 0.8rem;
    line-height: 12px;
    font-family: "Lato-Regular";
    font-style: normal;
    display: block;
    width: 50%;
    position: static;
  }
  .header_nav_submenu_first, .header_nav_submenu_second {
    width: 90%;
  }
  .header_nav_submenu_item {
    width: 100%;
  }
  .header_nav_submenu_link {
    font-size: 0.8rem;
    line-height: 3;
    font-family: "Lato-Regular";
    font-style: normal;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header .user {
    display: none;
    text-align: center;
  }
  .header .user_label {
    font-size: 1.2rem;
    line-height: 3;
    font-family: "Lato-Regular";
    font-style: normal;
    border: 1px solid #707070;
    border-radius: 10px;
    display: block;
    float: right;
    background: #424242;
    padding: 0 5px;
    color: #f7f7f7;
    margin: 10px;
    opacity: 0.6;
  }
  .header .user_inp:checked + .user {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    display: block;
    background: #f7f7f7;
    width: 100%;
  }
}

.footer {
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  padding: 25px 0;
}

.footer_top {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.4rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  padding: 60px 0 105px;
  color: #424242;
  position: relative;
}

.footer_top_wrapper {
  background: #f7f7f7;
  border-top: 4px solid #f0423c;
}

.footer_top_up {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
  background: #f0423c;
  color: #ffffff;
  width: 40px;
  line-height: 40px;
  font-size: 10px;
  text-align: center;
}

.footer_top_title {
  font-size: 2rem;
  line-height: 2;
  font-family: "Exo-SemiBold";
  font-style: normal;
  position: relative;
  text-transform: uppercase;
  color: #424242;
}

.footer_top_title:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  display: block;
  width: 30px;
  height: 2px;
  content: "";
  background: #f0423c;
}

.footer_top_title:after {
  transform: none;
}

.footer_top_column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 30%;
}

.footer_top_item {
  display: block;
  border-bottom: 1px solid #e5e5e5;
}

.footer_top_link {
  font-size: 1.4rem;
  line-height: 3;
  font-family: "Lato-Regular";
  font-style: normal;
  text-transform: capitalize;
  color: #424242;
}

.footer_top_link:hover {
  transition: all 0.5s ease;
  color: #f0423c;
}

.footer_top_link:before {
  font-size: 8px;
  margin-right: 5px;
  line-height: 8px;
}

.footer_top_subcolumn {
  display: inline-block;
  width: 45%;
}

.footer_top_form_inp {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #999999;
  opacity: 0.4;
}

.footer_top_form_inp::placeholder {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Lato-Regular";
  font-style: normal;
}

.footer_top_form_inp:focus {
  opacity: 1;
}

.footer_top_form_submit {
  font-size: 1.4rem;
  line-height: 3;
  font-family: "Lato-Bold";
  font-style: normal;
  width: 100%;
  color: #ffffff;
  background: #f0423c;
  text-transform: uppercase;
}

.footer_paragraph, .footer_form_description {
  margin: 20px 0;
}

.footer_bottom {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  color: #999999;
}

.footer_bottom::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.footer_bottom_wrapper {
  background: #424242;
}

.footer_bottom_copyright {
  font-size: 1.2rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  float: left;
}

.footer_bottom_lab, .footer_bottom_inp {
  display: none;
  float: right;
  line-height: 50px;
  font-size: 30px;
}

.footer_nav {
  float: right;
}

.footer_nav_link {
  font-size: 1.2rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #999999;
}

.footer_nav_link:hover {
  transition: all 0.5s ease;
  color: #ffffff;
}

.footer_nav_item {
  margin-left: 28px;
}

.footer_nav_item:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .footer_top_wrapper {
    padding: 0 20px;
  }
  .footer_top_column {
    width: 100%;
    margin: 10px 0;
  }
  .footer_top_subcolumn {
    width: 100%;
  }
  .footer_top_subcolumn:first-child {
    margin-bottom: 10px;
  }
  .footer_bottom {
    position: relative;
  }
  .footer_bottom_wrapper {
    padding: 0 20px;
  }
  .footer_bottom_lab {
    display: block;
  }
  .footer_nav {
    display: none;
  }
  .footer .footer_bottom_inp:checked ~ .footer_nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    bottom: auto;
    display: block;
    background: #424242;
    width: 200%;
    margin: 0 -20px;
  }
  .footer_nav_item {
    display: block;
  }
  .footer_nav_item:first-child {
    margin-left: 28px;
  }
}

.banner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 245px 0 150px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.banner_title {
  font-size: 4.2rem;
  line-height: normal;
  font-family: "Lato-Bold";
  font-style: normal;
  color: #5c5c5c;
  text-transform: uppercase;
}

.banner_img_wrapper {
  display: inline-block;
  position: relative;
}

.banner_img_wrapper:after {
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  display: block;
  width: 30px;
  height: 2px;
  content: "";
  background: #f0423c;
}

.banner_img {
  margin: 10px;
}

.banner_link {
  font-size: 1.4rem;
  line-height: 55px;
  font-family: "Lato-Bold";
  font-style: normal;
  background: #f0423c;
  color: #ffffff;
  display: inline-block;
  padding: 0 50px;
  margin-top: 105px;
  text-transform: uppercase;
}

.banner_wrapper {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -200px;
}

.banner_wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  content: "";
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.8;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .banner {
    padding: auto 20px;
  }
  .banner_wrapper {
    margin-top: -300px;
  }
}

.testimonials {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 85px 0;
}

.testimonials_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.testimonials_text {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  color: #707070;
  background: #f7f7f7;
  padding: 40px 35px;
  position: relative;
  height: 70%;
}

.testimonials_text:after {
  border: 15px solid transparent;
  border-top-color: #f7f7f7;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  content: "";
  display: block;
}

.testimonials_rate {
  display: block;
  color: #999999;
  margin-top: 15px;
}

.testimonials_item {
  width: 48.718%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

.testimonials_user {
  font-size: 1.4rem;
  line-height: 5;
  font-family: "Lato-Bold";
  font-style: normal;
  text-transform: uppercase;
  color: #424242;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .testimonials {
    padding: 0 20px;
  }
  .testimonials_text {
    height: 380px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .testimonials_text {
    height: 475px;
    padding: 20px;
  }
  .testimonials_user {
    font-size: 1.2rem;
    line-height: 3;
    font-family: "Lato-Regular";
    font-style: normal;
    margin-top: 10px;
  }
}

.work {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 65px 0;
}

.work_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.work_column {
  width: 570px;
  color: #424242;
}

.work_column_item {
  display: block;
}

.work_column_item::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.work_column_list {
  margin-top: 55px;
}

.work_column_title {
  font-size: 2rem;
  line-height: 2;
  font-family: "Exo-SemiBold";
  font-style: normal;
  text-transform: uppercase;
}

.work_column_subtitle {
  font-size: 1.8rem;
  line-height: 2;
  font-family: "Exo-SemiBold";
  font-style: normal;
  text-transform: uppercase;
}

.work_column_text {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
}

.work_column_i {
  float: left;
  font-size: 50px;
  margin-right: 30px;
  color: #999999;
  line-height: 60px;
}

.work_video {
  width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .work {
    padding: 0 20px;
  }
  .work_video {
    width: 100%;
  }
}

.gallery {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.gallery_wrapper {
  background: #f7f7f7;
}

.gallery_list {
  width: 100%;
}

.gallery_list::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

.gallery_item {
  float: left;
  width: 25%;
  height: 230px;
  overflow: hidden;
  background-position: center center;
  position: relative;
}

.gallery_item:hover .hover {
  transition: all 0.5s ease;
  opacity: 1;
}

.gallery .hover {
  background: rgba(0, 0, 0, 0.7);
  color: #f0423c;
  height: 100%;
  opacity: 0;
}

.gallery .hover_info {
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  background: #f0423c;
  width: 100%;
  text-align: center;
}

.gallery .hover_detail {
  font-size: 1.4rem;
  line-height: 3;
  font-family: "Lato-Bold";
  font-style: normal;
  color: #ffffff;
  width: 49%;
  display: inline-block;
}

.gallery .hover_detail:first-child {
  border-right: 1px solid #ffffff;
}

.gallery_button {
  margin: 60px 0 85px;
}

.gallery .icon-anchor {
  font-size: 20px;
  text-align: center;
  display: block;
  line-height: 190px;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .gallery {
    padding: 0 20px;
  }
  .gallery_item {
    width: 50%;
  }
}

.categories {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 85px 0;
}

.categories_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.categories_item {
  width: 31.624%;
  text-align: center;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding: 45px 0;
}

.categories_item:nth-child(2n) {
  background: #f7f7f7;
}

.categories_item:hover {
  transition: all 0.5s ease;
  box-shadow: 1px 1px 10px #999999;
  border-radius: 6px;
}

.categories_item:hover .categories_icon {
  color: #e4e4e4;
}

.categories_icon {
  font-size: 65px;
  line-height: 65px;
  position: relative;
  color: #999999;
}

.categories_icon:after {
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  display: block;
  width: 30px;
  height: 2px;
  content: "";
  background: #999999;
}

.categories_title {
  font-size: 2rem;
  line-height: 3;
  font-family: "Exo-Bold";
  font-style: normal;
  color: #424242;
  text-transform: uppercase;
}

.categories_link {
  font-size: 1.4rem;
  line-height: 3;
  font-family: "Lato-Bold";
  font-style: normal;
  background: #f0423c;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 40px;
}

.categories_link:hover {
  transition: all 0.5s ease;
  color: #e5e5e5;
}

.categories_link_wrapper {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .categories {
    padding: 0 20px;
  }
  .categories_item {
    width: 100%;
  }
  .categories_link_wrapper {
    margin-bottom: 30px;
  }
}

.statistic {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
  position: relative;
  padding: 20px 0;
}

.statistic_item {
  color: #ffffff;
  text-align: center;
  padding: 45px;
}

.statistic_number {
  font-size: 4rem;
  line-height: 2;
  font-family: "Lato-Bold";
  font-style: normal;
  position: relative;
}

.statistic_number:after {
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  display: block;
  width: 30px;
  height: 2px;
  content: "";
  background: #f0423c;
}

.statistic_text {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Lato-Bold";
  font-style: normal;
  text-transform: uppercase;
}

.statistic_wrapper {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  background-position: center, center;
  position: relative;
}

.statistic_wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  content: "";
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.9;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .statistic .statistic_item {
    width: 50%;
  }
}

.gallery_container {
  padding: 60px 0;
}

.gallery_first {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.gallery_first_item {
  width: 370px;
  height: 220px;
  background-position: center center;
  float: left;
  margin: 0 30px 30px 0;
  position: relative;
}

.gallery_first_item:hover .icon-checked {
  transition: all 0.5s ease;
  opacity: 1;
}

.gallery_first_item:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  transition: all 0.5s ease;
  content: "";
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: block;
}

.gallery_first_list {
  width: 110%;
  display: block;
  overflow: hidden;
}

.gallery_first_list::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .gallery_first_item {
    width: 45%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .gallery_first_item {
    width: 100%;
  }
}

.gallery_second {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.gallery_second_wrapper {
  background: #f7f7f7;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .gallery_second_wrapper {
    padding: 0 20px;
  }
}

.gallery_second_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery_second_item {
  width: 31.624%;
  height: 220px;
  background-position: center center;
  margin-bottom: 30px;
  position: relative;
}

.gallery_second_item:hover .icon-checked {
  transition: all 0.5s ease;
  opacity: 1;
}

.gallery_second_item:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  transition: all 0.5s ease;
  content: "";
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .gallery_second_item {
    width: 45%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .gallery_second_item {
    width: 100%;
  }
}

.gallery_third {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.gallery_third_list {
  text-align: justify;
  width: 100%;
}

.gallery_third_list:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.gallery_third_item {
  width: 31.624%;
  height: 220px;
  background-position: center center;
  margin-bottom: 30px;
  position: relative;
}

.gallery_third_item:hover .icon-checked {
  transition: all 0.5s ease;
  opacity: 1;
}

.gallery_third_item:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  transition: all 0.5s ease;
  content: "";
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .gallery_third {
    padding: 0 20px;
  }
  .gallery_third_item {
    width: 45%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .gallery_third_item {
    width: 100%;
  }
}

.gallery_description {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  margin-bottom: 40px;
}

.gallery_name {
  font-size: 2rem;
  line-height: 2;
  font-family: "Exo-Bold";
  font-style: normal;
  color: #424242;
  text-transform: uppercase;
  padding-top: 80px;
}

.icon-checked {
  position: absolute;
  top: auto;
  left: 10px;
  right: auto;
  bottom: 0;
  opacity: 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  z-index: 1000;
}

.gallery_button {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Bold";
  font-style: normal;
  background: #f0423c;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 50px;
}

.gallery_button_wrapper {
  text-align: center;
}

.error_content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.error_content_img_wrapper {
  display: inline-block;
}

.error_content_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 65.812%;
  margin: 0 auto;
}

.error_content_search {
  width: 77.922%;
  height: 50px;
  border: 1px solid #999999;
  margin-right: -3px;
  padding: 0 10px;
}

.error_content_search::placeholder {
  font-size: 1.4rem;
  line-height: normal;
  font-family: "Lato-Regular";
  font-style: normal;
}

.error_content_button {
  font-size: 1.4rem;
  line-height: 48px;
  font-family: "Lato-Bold";
  font-style: normal;
  width: 22.078%;
  background: #f0423c;
  color: #ffffff;
  text-transform: uppercase;
}

.error_content .block_title2 {
  line-height: 90px;
}

.error_content .block_description {
  line-height: 24px;
  width: 310px;
  margin: 0 auto 40px;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .error_content {
    padding: 0 20px;
  }
  .error_content_search {
    width: 100%;
    margin-bottom: 30px;
  }
  .error_content_button {
    width: 50%;
  }
}

.form {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form_wrapper {
  padding: 60px 0;
}

.form_title {
  font-size: 2rem;
  line-height: 3;
  font-family: "Exo-Bold";
  font-style: normal;
  color: #424242;
  text-transform: uppercase;
  width: 100%;
}

.form_inp {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  width: 570px;
  border: 1px solid #e5e5e5;
  padding: 0 20px;
  color: #999999;
  margin-bottom: 30px;
}

.form_sel {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 0 20px;
  color: #999999;
  margin-bottom: 30px;
}

.form_sel_option {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #999999;
  display: block;
}

.form_about {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Regular";
  font-style: normal;
  color: #999999;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 290px;
  padding: 0 20px;
}

.form_submit {
  font-size: 1.4rem;
  line-height: 50px;
  font-family: "Lato-Bold";
  font-style: normal;
  background: #f0423c;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 42px;
  margin: 40px 0;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .form {
    padding: 0 20px;
  }
}

select {
  height: 50px;
}

.detail_content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.detail_content_wrapper {
  padding: 60px 0;
}

.detail_content_column {
  width: 48.718%;
}

.detail_content_title {
  font-size: 2rem;
  line-height: 100px;
  font-family: "Exo-Bold";
  font-style: normal;
  text-transform: uppercase;
  color: #424242;
}

.detail_content_slide {
  height: 330px;
  width: 100%;
  overflow: hidden;
}

.detail_content_img {
  width: 100%;
}

.detail_content_item {
  font-size: 1.4rem;
  line-height: 2;
  font-family: "Lato-Regular";
  font-style: normal;
  display: block;
  color: #424242;
  margin-bottom: 10px;
}

.detail_content_item_title {
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Exo-SemiBold";
  font-style: normal;
  text-transform: uppercase;
}

.detail_content .slick-next {
  right: 20px;
  z-index: 100;
}

.detail_content .slick-prev {
  left: 0px;
  z-index: 100;
}

.detail_content .slick-next:before, .detail_content .slick-prev:before {
  content: "";
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .detail_content {
    padding: 0 20px;
  }
  .detail_content_column {
    width: 100%;
  }
  .detail_content_slide {
    height: 300px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .detail_content_slide {
    height: 175px;
  }
}

.icon-right_chevron, .icon-left_chevron {
  color: #f0423c;
  font-size: 40px;
  line-height: 40px;
  display: inline-block;
}

.slick-prev.slick-disabled i,
.slick-next.slick-disabled i {
  color: #424242;
}
