/*--EXTEND--*/

%border_top {
	&::before {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-image: url(../img/border.png);
	background-repeat: repeat;
	opacity: 0.5;
	position: absolute;
	top: 20px;
	left: 0;
	}
}

 %border_bottom {
	&::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-image: url(../img/border.png);
	background-repeat: repeat;
	opacity: 0.5;
	position: absolute;
	bottom: 20px;
	left: 0;
	}
}

