.section {
	&_header {
		text-align: center;
		margin-bottom: 80px;
	}

	&_title {
		@include font('Bazar', 180px, normal);

		text-shadow: 3px 3px 0 $white;
		text-transform: uppercase;
		color: $black_1;
		margin-bottom: 20px;
	}

	&_title_decoration {
		@include font('RobotoSlab-Regular', 44px, 22px);

		position: relative;
		color: $black_1;
		margin-bottom: 20px;
		padding: 0 90px;

		&::before {
			content: "";
			display: block;
			width: 80px;
			height: 3px;
			background-color: $black_1;
			position: absolute;
			top: 60%;
			left: 0;
			transform: translateY(-50%);

		}

		&::after {
			content: "";
			display: block;
			width: 80px;
			height: 3px;
			background-color: $black_1;
			position: absolute;
			top: 60%;
			right: 0;
			transform: translateY(-50%);

		}
	}
	
	&_subtitle {
		@include font('Oswald-Regular', 32px, normal);

		text-transform: uppercase;
		display: block;
		color: $black_3;
	}
}

.block_footer {
	@include font('Oswald-Bold', 28px, normal);
	
	text-transform: uppercase;
	color: $black_1;
	position: relative;
	display: inline-block;
}

.block_footer::before {
	content: "";
	display: block;
	width: 80%;
	height: 3px;
	background-color: $black_1;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
}