
@mixin font($font-family: 'Arial', $font-size: 12px , $line-height: normal) {
  font-family: $font-family;
  font-size: #{$font-size/$rootFont}rem;
  line-height: $line-height; 
}

@mixin font-size($font-size) {
  font-size: #{$font-size/$rootFont}rem;
}

@mixin centering($max-width: $main-max-width, $min-width: $main-min-width) {
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
  margin: 0 auto;
}

@mixin flex($justify-content: space-between, $align-items: flex-start, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin position($position: relative, $top: auto, $left: auto, $right: auto, $bottom: auto) {
  position: $position;
  left: $left;
  right: $right;
  bottom: $bottom;
  top: $top;
}

@mixin centering-elements() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin clear-fix() {
  &::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin border-top($height, $color, $type: solid) {
  border-top: $height $type $color;
}

@mixin border-right($height, $color, $type: solid) {
  border-right: $height $type $color;
}

@mixin border-left($height, $color, $type: solid) {
  border-left: $height $type $color;
}

@mixin border-bottom($height, $color, $type: solid) {
  border-bottom: $height $type $color;
}

@mixin border($height, $color, $type: solid) {
  border: $height $type $color;
}

@mixin transition($time: 1s, $style: ease) {
  transition: $time $style;
}

@mixin background_sprite($width, $height, $link, $position_side: 0, $position_vertical: 0){
  width: $width;
  height: $height; 
  background:url($link) $position_side $position_vertical;
  display: block;
}

