*, *::before, *::after {
	box-sizing: border-box;
}

html {
  font-size: $rootFont;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


ul, li {
  list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input {
  outline: none;
  border: none;
}

html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}