//COLORS
$white: #ffffff;
$white_0: #e3dfd7;
$black: #000000;
$white_1: #f9ebd9; //nav-link color
$white_2: #fbfaf6;//filtered by (link background)
$black_1: #3a3a3a;//title About
$black_2: #383a3c;//titles of columns
$black_3: #38353e;//simplicity
$black_4: #383a3c;// filtered by link-color
$grey_1: #959ca3; // filtered by (dots)
$grey_2: #b2afad;
$grey_3 :#d8dbdd;
$blue: #7ab9b9;//in case for odd font
//WIDTH
$main-max-width: 1850px;
$main-min-width: 1024px;
$rootFont: 10px;

//FONTS
$mainFont: 'RobotoSlab-Regular';
$bazar: 'Bazar';
$robBold: 'RobotoSlab-Bold';
$oswReg: 'Oswald-Regular';
$oswBold: 'Oswald-Bold';

$mobile-portrait: 320px;
$tablet-portrait: 767px;
$desktop: 1024px;
