@font-face {
     font-family: 'Lato-Regular';
     src: url('../fonts/Lato/Lato-Regular.eot');
     src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
          url('../fonts/Lato/Lato-Regular.woff') format('woff'),
          url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
          url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg'),
          url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
   }
   
@font-face {
     font-family: 'Lato-Bold';
     src: url('../fonts/Lato/Lato-Bold.eot');
     src: url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
          url('../fonts/Lato/Lato-Bold.woff') format('woff'),
          url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
          url('../fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg'),
          url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}   
@font-face {
     font-family: 'Exo-SemiBold';
     src: url('../fonts/Exo/Exo-SemiBold.eot');
     src: url('../fonts/Exo/Exo-SemiBold.woff2') format('woff2'),
          url('../fonts/Exo/Exo-SemiBold.woff') format('woff'),
          url('../fonts/Exo/Exo-SemiBold.ttf') format('truetype'),
          url('../fonts/Exo/Exo-SemiBold.svg#Exo-SemiBold') format('svg'),
          url('../fonts/Exo/Exo-SemiBold.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Exo-Bold';
     src: url('../fonts/Exo/Exo-Bold.eot');
     src: url('../fonts/Exo/Exo-Bold.woff2') format('woff2'),
          url('../fonts/Exo/Exo-Bold.woff') format('woff'),
          url('../fonts/Exo/Exo-Bold.ttf') format('truetype'),
          url('../fonts/Exo/Exo-Bold.svg#Exo-Bold') format('svg'),
          url('../fonts/Exo/Exo-Bold.eot?#iefix') format('embedded-opentype');
     font-weight: normal;
     font-style: normal;
}
   
   
   
   