.block_title {
    @include font(28px, 3, $exo_sb);
    @include line();

    position: relative;
    text-transform: uppercase;
    color: $grey1;
    text-align: center;

    @include respond-to(mobiles){
        font-size: 20px;
    }
}

.block_title2 {
    @include font(28px, 165px, $exo_sb);

    text-transform: uppercase;
    color: $grey1;

    @include respond-to(mobiles){
        font-size: 14px;
    }
}

.block_description {
    @include font(16px, 70px);

    color: $grey1;
    text-align: center;
    margin-bottom: 10px;
}
.page_title {
    @include centering();

    &_wrapper {
        @include background("../img/background.png");

        background-position: center, bottom;
        position: relative;
        z-index: -1;

        &::after {
            @include position(absolute, 0, 0);

            content: "";
            width: 100%;
            height: 100%;
            background: $white1;
            opacity: 0.9;
        }
    }

    &_text {
        @include font(20px, 5, $exo_b);

        color: $grey1;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        z-index: 1000;
    }
}