:root {
	font-size: $rootFont;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
}
ul, li {
	list-style: none;
	display: inline-block;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
input, textarea, select {
	outline: none;
	border: 0;
	margin: 0;
}
button {
	outline: none;
	border: 0;
	cursor: pointer;
}
html{
	scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}