//COLORS
$white: #ffffff;
$white1: #f7f7f7;
$black: #000000;

$grey1: #424242;//headertop back
$grey2: #999999; // social color
$grey3: #5c5c5c;
$grey4: #707070;
$grey5: #e4e4e4;
$grey6: #e5e5e5;

$red1: #f0423c; //button banner

$rootFont: 10px;
$mainFont: 'Lato-Regular';
$max-width: 1170px;
//FONTS
$lato_r: 'Lato-Regular';
$lato_bold: 'Lato-Bold';
$exo_sb: 'Exo-SemiBold';
$exo_b: 'Exo-Bold';

$mobile-portrait: 320px;
$tablet-portrait: 767px;
$mobile-landscape: 480px;